wsdls/AmendMaint.wsdl

<?xml version='1.0' encoding='utf-8'?>
<!-- Generated by EntireX Communicator Web Service Plug-in , Version 7.3.3.000 -->
<!-- WSDL from IDL generator, Version 7.3.3.000 on Nov 6, 2008 10:56:38 AM -->
<definitions name='IASLIB' targetNamespace='urn:com-softwareag-entirex-rpc:IASLIB' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:SOAP-ENC='http://schemas.xmlsoap.org/soap/encoding/' xmlns:tns='urn:com-softwareag-entirex-rpc:IASLIB'>
 <types>
  <xsd:schema targetNamespace='urn:com-softwareag-entirex-rpc:IASLIB'>
   <xsd:element name='MUAMNMW'>
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name='IN_PARMS'>
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name='ACTION' type='xsd:string'/>
         <xsd:element name='USER_ID' type='xsd:string'/>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
      <xsd:element name='INOUT_PARMS'>
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name='LOG_COUNTER' type='xsd:decimal'/>
         <xsd:element name='POLICY_ID' type='xsd:decimal'/>
         <xsd:element name='TRUST_IND' type='xsd:string'/>
         <xsd:element name='PROXY_IND' type='xsd:string'/>
         <xsd:element name='DESCRIPTION' type='xsd:string'/>
         <xsd:element name='TEXT'>
          <xsd:complexType>
           <xsd:sequence>
            <xsd:element name='string' minOccurs='1' maxOccurs='191' type='xsd:string'/>
           </xsd:sequence>
          </xsd:complexType>
         </xsd:element>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name='MUAMNMWResponse'>
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name='MSG_DATA'>
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name='RETURN_CODE' type='xsd:string'/>
         <xsd:element name='MSG_NR' type='xsd:decimal'/>
         <xsd:element name='MSG_TEXT' type='xsd:string'/>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
      <xsd:element name='INOUT_PARMS1'>
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name='LOG_COUNTER1' type='xsd:decimal'/>
         <xsd:element name='POLICY_ID1' type='xsd:decimal'/>
         <xsd:element name='TRUST_IND1' type='xsd:string'/>
         <xsd:element name='PROXY_IND1' type='xsd:string'/>
         <xsd:element name='DESCRIPTION1' type='xsd:string'/>
         <xsd:element name='TEXT1'>
          <xsd:complexType>
           <xsd:sequence>
            <xsd:element name='string' minOccurs='1' maxOccurs='191' type='xsd:string'/>
           </xsd:sequence>
          </xsd:complexType>
         </xsd:element>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
      <xsd:element name='OUT_PARMS'>
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name='KEY_INSURED_SEARCH_NAME' type='xsd:string'/>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
  </xsd:schema>
 </types>
 <message name='MUAMNMWSoapIn'>
  <part name='parameters' element='tns:MUAMNMW'/>
 </message>
 <message name='MUAMNMWSoapOut'>
  <part name='parameters' element='tns:MUAMNMWResponse'/>
 </message>
 <portType name='IASLIBPort'>
  <operation name='MUAMNMW'>
   <input message='tns:MUAMNMWSoapIn'/>
   <output message='tns:MUAMNMWSoapOut'/>
  </operation>
 </portType>
 <binding name='IASLIBSoapBinding' type='tns:IASLIBPort'>
  <soap:binding style='document' transport='http://schemas.xmlsoap.org/soap/http'/>
  <operation name='MUAMNMW'>
   <soap:operation soapAction='MUAMNMW'/>
   <input>
    <soap:body use='literal'/>
   </input>
   <output>
    <soap:body use='literal'/>
   </output>
  </operation>
 </binding>
 <service name='AmendMaint'>
  <port name='IASLIBPort' binding='tns:IASLIBSoapBinding'>
   <soap:address location='http://etbprod:8080/EntireX-ETBPROD/xmlrt'/>
  </port>
 </service>
</definitions>
