wsdls/ASSSSWS2.wsdl

<?xml version='1.0' encoding='utf-8'?>
<!-- Generated by EntireX Communicator Web Service Plug-in , Version 7.3.3.000 -->
<!-- WSDL from IDL generator, Version 7.3.3.000 on Aug 5, 2008 10:26:11 AM -->
<definitions name='ACSLIB' targetNamespace='urn:com-softwareag-entirex-rpc:ACSLIB' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:SOAP-ENC='http://schemas.xmlsoap.org/soap/encoding/' xmlns:tns='urn:com-softwareag-entirex-rpc:ACSLIB'>
 <types>
  <xsd:schema targetNamespace='urn:com-softwareag-entirex-rpc:ACSLIB'>
   <xsd:element name='ASSSSBW1'>
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name='ZZLKP_IN'>
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name='FUNCTION' type='xsd:string'/>
         <xsd:element name='REQUEST_COUNT' type='xsd:decimal'/>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
      <xsd:element name='ZZLKP_INOUT'>
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name='LAST_KEY' type='xsd:string'/>
         <xsd:element name='LAST_ID' type='xsd:string'/>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
      <xsd:element name='STD_IN'>
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name='API_VERS' type='xsd:string'/>
         <xsd:element name='SCHEMA_VERS' type='xsd:string'/>
         <xsd:element name='ENVIRONMENT' type='xsd:string'/>
         <xsd:element name='LOGICAL_USER' type='xsd:string'/>
         <xsd:element name='SENDER_COMP' type='xsd:string'/>
         <xsd:element name='SENDER_TASK' type='xsd:string'/>
         <xsd:element name='SENDER_GUID' type='xsd:string'/>
         <xsd:element name='SENDER_TIME' type='xsd:dateTime'/>
         <xsd:element name='SENDER_LANG' type='xsd:string'/>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name='ASSSSBW1Response'>
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name='ZZLKP_INOUT1'>
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name='LAST_KEY1' type='xsd:string'/>
         <xsd:element name='LAST_ID1' type='xsd:string'/>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
      <xsd:element name='ZZLKP_OUT'>
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name='MORE_DATA' type='xsd:string'/>
         <xsd:element name='NAMES_COUNT' type='xsd:decimal'/>
         <xsd:element name='ZZLKP_NAMESs'>
          <xsd:complexType>
           <xsd:sequence>
            <xsd:element name='ZZLKP_NAMES' minOccurs='1' maxOccurs='5'>
             <xsd:complexType>
              <xsd:sequence>
               <xsd:element name='EXT_FIELD' type='xsd:string'/>
               <xsd:element name='EXT_TYPE' type='xsd:string'/>
               <xsd:element name='EXT_LTH' type='xsd:decimal'/>
              </xsd:sequence>
             </xsd:complexType>
            </xsd:element>
           </xsd:sequence>
          </xsd:complexType>
         </xsd:element>
         <xsd:element name='RETURN_COUNT' type='xsd:decimal'/>
         <xsd:element name='ZZLKP_VALUESs'>
          <xsd:complexType>
           <xsd:sequence>
            <xsd:element name='ZZLKP_VALUES' minOccurs='1' maxOccurs='20'>
             <xsd:complexType>
              <xsd:sequence>
               <xsd:element name='CODE' type='xsd:string'/>
               <xsd:element name='DESC' type='xsd:string'/>
               <xsd:element name='EXT_VALUE'>
                <xsd:complexType>
                 <xsd:sequence>
                  <xsd:element name='string' minOccurs='1' maxOccurs='5' type='xsd:string'/>
                 </xsd:sequence>
                </xsd:complexType>
               </xsd:element>
              </xsd:sequence>
             </xsd:complexType>
            </xsd:element>
           </xsd:sequence>
          </xsd:complexType>
         </xsd:element>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
      <xsd:element name='STD_OUT'>
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name='RETURN_CODE' type='xsd:string'/>
         <xsd:element name='MESSAGE_NBR' type='xsd:decimal'/>
         <xsd:element name='MESSAGE_TEXT' type='xsd:string'/>
         <xsd:element name='RECEIVE_GUID' type='xsd:string'/>
         <xsd:element name='RECEIVE_TIME' type='xsd:dateTime'/>
         <xsd:element name='ERROR_FIELD' type='xsd:string'/>
         <xsd:element name='ERROR_INDEX1' type='xsd:decimal'/>
         <xsd:element name='ERROR_INDEX2' type='xsd:decimal'/>
         <xsd:element name='ERROR_INDEX3' type='xsd:decimal'/>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
  </xsd:schema>
 </types>
 <message name='ASSSSBW1SoapIn'>
  <part name='parameters' element='tns:ASSSSBW1'/>
 </message>
 <message name='ASSSSBW1SoapOut'>
  <part name='parameters' element='tns:ASSSSBW1Response'/>
 </message>
 <portType name='ACSLIBPort'>
  <operation name='ASSSSBW1'>
   <input message='tns:ASSSSBW1SoapIn'/>
   <output message='tns:ASSSSBW1SoapOut'/>
  </operation>
 </portType>
 <binding name='ACSLIBSoapBinding' type='tns:ACSLIBPort'>
  <soap:binding style='document' transport='http://schemas.xmlsoap.org/soap/http'/>
  <operation name='ASSSSBW1'>
   <soap:operation soapAction='ASSSSBW1'/>
   <input>
    <soap:body use='literal'/>
   </input>
   <output>
    <soap:body use='literal'/>
   </output>
  </operation>
 </binding>
 <service name='ASSSSWS2'>
  <port name='ACSLIBPort' binding='tns:ACSLIBSoapBinding'>
   <soap:address location='http://etbprod:8080/EntireX-ETBPROD/xmlrt'/>
  </port>
 </service>
</definitions>
