wsdls/BrowsePolicies.wsdl

<?xml version='1.0' encoding='utf-8'?>
<!-- Generated by EntireX Communicator Web Service Plug-in , Version 7.3.3.000 -->
<!-- WSDL from IDL generator, Version 7.3.3.000 on Aug 7, 2008 11:54:49 AM -->
<definitions name='IASLIB' targetNamespace='urn:com-softwareag-entirex-rpc:IASLIB' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:SOAP-ENC='http://schemas.xmlsoap.org/soap/encoding/' xmlns:tns='urn:com-softwareag-entirex-rpc:IASLIB'>
 <types>
  <xsd:schema targetNamespace='urn:com-softwareag-entirex-rpc:IASLIB'>
   <xsd:element name='MUPLYBW'>
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name='INOUT_PARM'>
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name='START_KEY' type='xsd:string'/>
         <xsd:element name='SCROLL' type='xsd:string'/>
         <xsd:element name='BKEY'>
          <xsd:complexType>
           <xsd:sequence>
            <xsd:element name='string' minOccurs='1' maxOccurs='10' type='xsd:string'/>
           </xsd:sequence>
          </xsd:complexType>
         </xsd:element>
         <xsd:element name='FORWARDCOUNT' type='xsd:decimal'/>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name='MUPLYBWResponse'>
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name='MSG_INFO'>
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name='RETURN_CODE' type='xsd:string'/>
         <xsd:element name='MESSAGE_NBR' type='xsd:decimal'/>
         <xsd:element name='MESSAGE_TEXT' type='xsd:string'/>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
      <xsd:element name='INOUT_PARM1'>
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name='START_KEY1' type='xsd:string'/>
         <xsd:element name='SCROLL1' type='xsd:string'/>
         <xsd:element name='BKEY1'>
          <xsd:complexType>
           <xsd:sequence>
            <xsd:element name='string' minOccurs='1' maxOccurs='10' type='xsd:string'/>
           </xsd:sequence>
          </xsd:complexType>
         </xsd:element>
         <xsd:element name='FORWARDCOUNT1' type='xsd:decimal'/>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
      <xsd:element name='OUT_PARMs'>
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name='OUT_PARM' minOccurs='1' maxOccurs='50'>
          <xsd:complexType>
           <xsd:sequence>
            <xsd:element name='KEY_INSURED_SEARCH_NAME' type='xsd:string'/>
            <xsd:element name='POLICY_ID' type='xsd:decimal'/>
            <xsd:element name='KEY_INSURED_PERSON_ID' type='xsd:decimal'/>
            <xsd:element name='KEY_PRODUCT_ID' type='xsd:string'/>
            <xsd:element name='KEY_INSURED_ADDRESS_ID' type='xsd:decimal'/>
            <xsd:element name='KEY_INSURED_SEARCH_ADDRESS' type='xsd:string'/>
            <xsd:element name='KEY_INSURED_COUNTY' type='xsd:string'/>
            <xsd:element name='APPLICATION_FORM_ID' type='xsd:string'/>
            <xsd:element name='LINE_OF_BUSINESS' type='xsd:string'/>
            <xsd:element name='STATE_SIGNED' type='xsd:string'/>
            <xsd:element name='STATE_ISSUED' type='xsd:string'/>
            <xsd:element name='KEY_INSURED_STATE' type='xsd:string'/>
            <xsd:element name='AGENT_CODE' type='xsd:string'/>
            <xsd:element name='APPLICATION_INCOMPLETE_IND' type='xsd:string'/>
            <xsd:element name='MODE_OF_PAYMENT' type='xsd:string'/>
            <xsd:element name='BILL_CODE' type='xsd:string'/>
            <xsd:element name='TENDERED_PAYMENT_TYPE' type='xsd:string'/>
            <xsd:element name='NEW_LIST_BILL_IND' type='xsd:string'/>
            <xsd:element name='OLD_POLICY_EXISTS_IND' type='xsd:string'/>
            <xsd:element name='OLD_POLICY_REPLACEMENT_IND' type='xsd:string'/>
            <xsd:element name='OLD_POLICY_COMPANY_NAME' type='xsd:string'/>
            <xsd:element name='POLICY_STATUS_CURRENT' type='xsd:string'/>
            <xsd:element name='POLICY_STATUS_CURRENT_DATE' type='xsd:string'/>
            <xsd:element name='DATE_SIGNED' type='xsd:string'/>
            <xsd:element name='PREMIUM_PAYABLE' type='xsd:string'/>
            <xsd:element name='TENDERED_AMOUNT' type='xsd:string'/>
            <xsd:element name='ANNUALISED_PREMIUM_PAYABLE' type='xsd:string'/>
           </xsd:sequence>
          </xsd:complexType>
         </xsd:element>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
  </xsd:schema>
 </types>
 <message name='MUPLYBWSoapIn'>
  <part name='parameters' element='tns:MUPLYBW'/>
 </message>
 <message name='MUPLYBWSoapOut'>
  <part name='parameters' element='tns:MUPLYBWResponse'/>
 </message>
 <portType name='IASLIBPort'>
  <operation name='MUPLYBW'>
   <input message='tns:MUPLYBWSoapIn'/>
   <output message='tns:MUPLYBWSoapOut'/>
  </operation>
 </portType>
 <binding name='IASLIBSoapBinding' type='tns:IASLIBPort'>
  <soap:binding style='document' transport='http://schemas.xmlsoap.org/soap/http'/>
  <operation name='MUPLYBW'>
   <soap:operation soapAction='MUPLYBW'/>
   <input>
    <soap:body use='literal'/>
   </input>
   <output>
    <soap:body use='literal'/>
   </output>
  </operation>
 </binding>
 <service name='BrowsePolicies'>
  <port name='IASLIBPort' binding='tns:IASLIBSoapBinding'>
   <soap:address location='http://etbprod:8080/EntireX-ETBPROD/xmlrt'/>
  </port>
 </service>
</definitions>
