wsdls/BrowsePolCertPers.wsdl

<?xml version='1.0' encoding='utf-8'?>
<!-- Generated by EntireX Communicator Web Service Plug-in , Version 7.3.3.000 -->
<!-- WSDL from IDL generator, Version 7.3.3.000 on Aug 5, 2008 10:29:37 AM -->
<definitions name='IASLIB' targetNamespace='urn:com-softwareag-entirex-rpc:IASLIB' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:SOAP-ENC='http://schemas.xmlsoap.org/soap/encoding/' xmlns:tns='urn:com-softwareag-entirex-rpc:IASLIB'>
 <types>
  <xsd:schema targetNamespace='urn:com-softwareag-entirex-rpc:IASLIB'>
   <xsd:element name='MUCPEBW'>
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name='INOUT_PARM'>
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name='POLICY_ID' type='xsd:decimal'/>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name='MUCPEBWResponse'>
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name='MSG_INFO'>
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name='RETURN_CODE' type='xsd:string'/>
         <xsd:element name='MESSAGE_NBR' type='xsd:decimal'/>
         <xsd:element name='MESSAGE_TEXT' type='xsd:string'/>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
      <xsd:element name='INOUT_PARM1'>
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name='POLICY_ID1' type='xsd:decimal'/>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
      <xsd:element name='OUT_PARMs'>
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name='OUT_PARM' minOccurs='1' maxOccurs='25'>
          <xsd:complexType>
           <xsd:sequence>
            <xsd:element name='PERSON_ID' type='xsd:decimal'/>
            <xsd:element name='PERSON_SEARCH_NAME'>
             <xsd:complexType>
              <xsd:sequence>
               <xsd:element name='string' minOccurs='1' maxOccurs='5' type='xsd:string'/>
              </xsd:sequence>
             </xsd:complexType>
            </xsd:element>
            <xsd:element name='PERSON_SEARCH_ADDRESS' type='xsd:string'/>
            <xsd:element name='SPECIAL_ACTION_TYPE'>
             <xsd:complexType>
              <xsd:sequence>
               <xsd:element name='string' minOccurs='1' maxOccurs='20' type='xsd:string'/>
              </xsd:sequence>
             </xsd:complexType>
            </xsd:element>
            <xsd:element name='SPECIAL_ACTION_REASON_CODE'>
             <xsd:complexType>
              <xsd:sequence>
               <xsd:element name='string' minOccurs='1' maxOccurs='20' type='xsd:string'/>
              </xsd:sequence>
             </xsd:complexType>
            </xsd:element>
            <xsd:element name='SPECIAL_ACTION_DATE'>
             <xsd:complexType>
              <xsd:sequence>
               <xsd:element name='string' minOccurs='1' maxOccurs='20' type='xsd:string'/>
              </xsd:sequence>
             </xsd:complexType>
            </xsd:element>
            <xsd:element name='HIRE_DATE' type='xsd:string'/>
            <xsd:element name='EFFECTIVE_DATE' type='xsd:string'/>
            <xsd:element name='PAID_TO_DATE' type='xsd:string'/>
            <xsd:element name='BILLED_TO_DATE' type='xsd:string'/>
           </xsd:sequence>
          </xsd:complexType>
         </xsd:element>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
  </xsd:schema>
 </types>
 <message name='MUCPEBWSoapIn'>
  <part name='parameters' element='tns:MUCPEBW'/>
 </message>
 <message name='MUCPEBWSoapOut'>
  <part name='parameters' element='tns:MUCPEBWResponse'/>
 </message>
 <portType name='IASLIBPort'>
  <operation name='MUCPEBW'>
   <input message='tns:MUCPEBWSoapIn'/>
   <output message='tns:MUCPEBWSoapOut'/>
  </operation>
 </portType>
 <binding name='IASLIBSoapBinding' type='tns:IASLIBPort'>
  <soap:binding style='document' transport='http://schemas.xmlsoap.org/soap/http'/>
  <operation name='MUCPEBW'>
   <soap:operation soapAction='MUCPEBW'/>
   <input>
    <soap:body use='literal'/>
   </input>
   <output>
    <soap:body use='literal'/>
   </output>
  </operation>
 </binding>
 <service name='BrowsePolCertPers'>
  <port name='IASLIBPort' binding='tns:IASLIBSoapBinding'>
   <soap:address location='http://etbprod:8080/EntireX-ETBPROD/xmlrt'/>
  </port>
 </service>
</definitions>
