wsdls/BrowsePersComp.wsdl

<?xml version='1.0' encoding='utf-8'?>
<!-- Generated by EntireX Communicator Web Service Plug-in , Version 7.3.3.000 -->
<!-- WSDL from IDL generator, Version 7.3.3.000 on Aug 5, 2008 12:35:44 PM -->
<definitions name='ACSLIB' targetNamespace='urn:com-softwareag-entirex-rpc:ACSLIB' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:SOAP-ENC='http://schemas.xmlsoap.org/soap/encoding/' xmlns:tns='urn:com-softwareag-entirex-rpc:ACSLIB'>
 <types>
  <xsd:schema targetNamespace='urn:com-softwareag-entirex-rpc:ACSLIB'>
   <xsd:element name='ACPCYBW'>
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name='MORE'>
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name='MORE_RECS' type='xsd:string'/>
         <xsd:element name='START_PERSON_ID' type='xsd:decimal'/>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name='ACPCYBWResponse'>
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name='MSG_INFO'>
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name='RETURN_CODE' type='xsd:string'/>
         <xsd:element name='MESSAGE_NBR' type='xsd:decimal'/>
         <xsd:element name='MESSAGE_TEXT' type='xsd:string'/>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
      <xsd:element name='MORE1'>
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name='MORE_RECS1' type='xsd:string'/>
         <xsd:element name='START_PERSON_ID1' type='xsd:decimal'/>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
      <xsd:element name='OUT_PARMSs'>
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name='OUT_PARMS' minOccurs='1' maxOccurs='20'>
          <xsd:complexType>
           <xsd:sequence>
            <xsd:element name='PERSON_ID' type='xsd:decimal'/>
            <xsd:element name='SEARCH_NAME' type='xsd:string'/>
            <xsd:element name='PERSON_TYPE' type='xsd:string'/>
            <xsd:element name='TITLE' type='xsd:string'/>
            <xsd:element name='FIRST_NAME' type='xsd:string'/>
            <xsd:element name='MIDDLE_NAME' type='xsd:string'/>
            <xsd:element name='FAMILY_NAME' type='xsd:string'/>
            <xsd:element name='HONORIFICS' type='xsd:string'/>
            <xsd:element name='NAME_SUFFIX' type='xsd:string'/>
            <xsd:element name='SEX' type='xsd:string'/>
            <xsd:element name='SMOKER_IND' type='xsd:string'/>
            <xsd:element name='BIRTH_DATE' type='xsd:string'/>
            <xsd:element name='MIB_BIRTH_PLACE' type='xsd:string'/>
            <xsd:element name='SSN_NUMBER' type='xsd:string'/>
            <xsd:element name='DRIVERS_LICENCE_ID' type='xsd:string'/>
            <xsd:element name='DRIVER_LICENCE_STATE' type='xsd:string'/>
            <xsd:element name='HEIGHT_FEET_INCHES' type='xsd:string'/>
            <xsd:element name='WEIGHT_POUNDS' type='xsd:string'/>
            <xsd:element name='OCCUPATION' type='xsd:string'/>
            <xsd:element name='EMPLOYER' type='xsd:string'/>
            <xsd:element name='EMPLOYMENT_START' type='xsd:string'/>
            <xsd:element name='MONTHLY_INCOME' type='xsd:string'/>
            <xsd:element name='BUSINESS_PHONE_NUMBER' type='xsd:string'/>
            <xsd:element name='RESIDENTIAL_PHONE' type='xsd:string'/>
            <xsd:element name='RESIDENTIAL_SEARCH_ADDRESS' type='xsd:string'/>
           </xsd:sequence>
          </xsd:complexType>
         </xsd:element>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
  </xsd:schema>
 </types>
 <message name='ACPCYBWSoapIn'>
  <part name='parameters' element='tns:ACPCYBW'/>
 </message>
 <message name='ACPCYBWSoapOut'>
  <part name='parameters' element='tns:ACPCYBWResponse'/>
 </message>
 <portType name='ACSLIBPort'>
  <operation name='ACPCYBW'>
   <input message='tns:ACPCYBWSoapIn'/>
   <output message='tns:ACPCYBWSoapOut'/>
  </operation>
 </portType>
 <binding name='ACSLIBSoapBinding' type='tns:ACSLIBPort'>
  <soap:binding style='document' transport='http://schemas.xmlsoap.org/soap/http'/>
  <operation name='ACPCYBW'>
   <soap:operation soapAction='ACPCYBW'/>
   <input>
    <soap:body use='literal'/>
   </input>
   <output>
    <soap:body use='literal'/>
   </output>
  </operation>
 </binding>
 <service name='BrowsePersComp'>
  <port name='ACSLIBPort' binding='tns:ACSLIBSoapBinding'>
   <soap:address location='http://etbprod:8080/EntireX-ETBPROD/xmlrt'/>
  </port>
 </service>
</definitions>
