wsdls/EventPortRequest.wsdl

<?xml version='1.0' encoding='utf-8'?>
<!-- Generated by EntireX Communicator Web Service Plug-in , Version 7.3.3.000 -->
<!-- WSDL from IDL generator, Version 7.3.3.000 on Nov 6, 2008 11:04:58 AM -->
<definitions name='IASLIB' targetNamespace='urn:com-softwareag-entirex-rpc:IASLIB' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:SOAP-ENC='http://schemas.xmlsoap.org/soap/encoding/' xmlns:tns='urn:com-softwareag-entirex-rpc:IASLIB'>
 <types>
  <xsd:schema targetNamespace='urn:com-softwareag-entirex-rpc:IASLIB'>
   <xsd:element name='MUPRTMW'>
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name='IN_PARMS'>
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name='ACTION' type='xsd:string'/>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
      <xsd:element name='INOUT_PARMS'>
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name='LOG_COUNTER' type='xsd:decimal'/>
         <xsd:element name='USER_ID' type='xsd:string'/>
         <xsd:element name='POLICY_ID' type='xsd:decimal'/>
         <xsd:element name='EVENT_ID' type='xsd:decimal'/>
         <xsd:element name='STD_EVENT_ID' type='xsd:string'/>
         <xsd:element name='EVENT_STATUS_CURRENT' type='xsd:string'/>
         <xsd:element name='DATE_COMPLETED_YYYYMMDD' type='xsd:decimal'/>
         <xsd:element name='EQUIF_SUBJECT_PERSON_ID' type='xsd:decimal'/>
         <xsd:element name='DOC_FIRST_NAME' type='xsd:string'/>
         <xsd:element name='DOC_MIDDLE_NAME' type='xsd:string'/>
         <xsd:element name='HOSPDOC_NAME' type='xsd:string'/>
         <xsd:element name='HOSPDOC_ADDR_STREET_NUMBER' type='xsd:string'/>
         <xsd:element name='HOSPDOC_ADDR_STREET_NAME' type='xsd:string'/>
         <xsd:element name='HOSPDOC_ADDR_CITY' type='xsd:string'/>
         <xsd:element name='HOSPDOC_ADDR_STATE' type='xsd:string'/>
         <xsd:element name='HOSPDOC_ADDR_ZIP_5' type='xsd:string'/>
         <xsd:element name='HOSPDOC_ADDR_ZIP_4' type='xsd:string'/>
         <xsd:element name='HOSPDOC_PHONE_AREA' type='xsd:string'/>
         <xsd:element name='HOSPDOC_PHONE_EXCHANGE' type='xsd:string'/>
         <xsd:element name='HOSPDOC_PHONE_NUMBER' type='xsd:string'/>
         <xsd:element name='HOSPDOC_PHONE_EXTENSION' type='xsd:string'/>
         <xsd:element name='HOSPDOC_FAX_AREA' type='xsd:string'/>
         <xsd:element name='HOSPDOC_FAX_EXCHANGE' type='xsd:string'/>
         <xsd:element name='HOSPDOC_FAX_NUMBER' type='xsd:string'/>
         <xsd:element name='EQUIF_REQUEST_TYPE' type='xsd:string'/>
         <xsd:element name='ATTENTION_TEXT'>
          <xsd:complexType>
           <xsd:sequence>
            <xsd:element name='string' minOccurs='1' maxOccurs='5' type='xsd:string'/>
           </xsd:sequence>
          </xsd:complexType>
         </xsd:element>
         <xsd:element name='RESPONSE_INDICATOR' type='xsd:string'/>
         <xsd:element name='MIB_BIRTH_PLACE' type='xsd:string'/>
         <xsd:element name='AGE' type='xsd:decimal'/>
         <xsd:element name='SEX' type='xsd:string'/>
         <xsd:element name='MARITAL_STATUS' type='xsd:string'/>
         <xsd:element name='DRIVERS_LICENCE_ID' type='xsd:string'/>
         <xsd:element name='DRIVER_LICENCE_STATE' type='xsd:string'/>
         <xsd:element name='EMPLOYER' type='xsd:string'/>
         <xsd:element name='DATE_CREATED' type='xsd:string'/>
         <xsd:element name='SUBJECT_PERSON_SEARCH_NAME' type='xsd:string'/>
         <xsd:element name='BIRTH_DATE_YYYYMMDD' type='xsd:decimal'/>
         <xsd:element name='SOCIAL_SECURITY_NUMBER' type='xsd:string'/>
         <xsd:element name='OCCUPATION' type='xsd:string'/>
         <xsd:element name='EMP_START_DATE_YY_MM' type='xsd:decimal'/>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name='MUPRTMWResponse'>
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name='MSG_INFO'>
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name='RETURN_CODE' type='xsd:string'/>
         <xsd:element name='MSG_NR' type='xsd:decimal'/>
         <xsd:element name='MSG_TEXT' type='xsd:string'/>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
      <xsd:element name='INOUT_PARMS1'>
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name='LOG_COUNTER1' type='xsd:decimal'/>
         <xsd:element name='USER_ID1' type='xsd:string'/>
         <xsd:element name='POLICY_ID1' type='xsd:decimal'/>
         <xsd:element name='EVENT_ID1' type='xsd:decimal'/>
         <xsd:element name='STD_EVENT_ID1' type='xsd:string'/>
         <xsd:element name='EVENT_STATUS_CURRENT1' type='xsd:string'/>
         <xsd:element name='DATE_COMPLETED_YYYYMMDD1' type='xsd:decimal'/>
         <xsd:element name='EQUIF_SUBJECT_PERSON_ID1' type='xsd:decimal'/>
         <xsd:element name='DOC_FIRST_NAME1' type='xsd:string'/>
         <xsd:element name='DOC_MIDDLE_NAME1' type='xsd:string'/>
         <xsd:element name='HOSPDOC_NAME1' type='xsd:string'/>
         <xsd:element name='HOSPDOC_ADDR_STREET_NUMBER1' type='xsd:string'/>
         <xsd:element name='HOSPDOC_ADDR_STREET_NAME1' type='xsd:string'/>
         <xsd:element name='HOSPDOC_ADDR_CITY1' type='xsd:string'/>
         <xsd:element name='HOSPDOC_ADDR_STATE1' type='xsd:string'/>
         <xsd:element name='HOSPDOC_ADDR_ZIP_51' type='xsd:string'/>
         <xsd:element name='HOSPDOC_ADDR_ZIP_41' type='xsd:string'/>
         <xsd:element name='HOSPDOC_PHONE_AREA1' type='xsd:string'/>
         <xsd:element name='HOSPDOC_PHONE_EXCHANGE1' type='xsd:string'/>
         <xsd:element name='HOSPDOC_PHONE_NUMBER1' type='xsd:string'/>
         <xsd:element name='HOSPDOC_PHONE_EXTENSION1' type='xsd:string'/>
         <xsd:element name='HOSPDOC_FAX_AREA1' type='xsd:string'/>
         <xsd:element name='HOSPDOC_FAX_EXCHANGE1' type='xsd:string'/>
         <xsd:element name='HOSPDOC_FAX_NUMBER1' type='xsd:string'/>
         <xsd:element name='EQUIF_REQUEST_TYPE1' type='xsd:string'/>
         <xsd:element name='ATTENTION_TEXT1'>
          <xsd:complexType>
           <xsd:sequence>
            <xsd:element name='string' minOccurs='1' maxOccurs='5' type='xsd:string'/>
           </xsd:sequence>
          </xsd:complexType>
         </xsd:element>
         <xsd:element name='RESPONSE_INDICATOR1' type='xsd:string'/>
         <xsd:element name='MIB_BIRTH_PLACE1' type='xsd:string'/>
         <xsd:element name='AGE1' type='xsd:decimal'/>
         <xsd:element name='SEX1' type='xsd:string'/>
         <xsd:element name='MARITAL_STATUS1' type='xsd:string'/>
         <xsd:element name='DRIVERS_LICENCE_ID1' type='xsd:string'/>
         <xsd:element name='DRIVER_LICENCE_STATE1' type='xsd:string'/>
         <xsd:element name='EMPLOYER1' type='xsd:string'/>
         <xsd:element name='DATE_CREATED1' type='xsd:string'/>
         <xsd:element name='SUBJECT_PERSON_SEARCH_NAME1' type='xsd:string'/>
         <xsd:element name='BIRTH_DATE_YYYYMMDD1' type='xsd:decimal'/>
         <xsd:element name='SOCIAL_SECURITY_NUMBER1' type='xsd:string'/>
         <xsd:element name='OCCUPATION1' type='xsd:string'/>
         <xsd:element name='EMP_START_DATE_YY_MM1' type='xsd:decimal'/>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
  </xsd:schema>
 </types>
 <message name='MUPRTMWSoapIn'>
  <part name='parameters' element='tns:MUPRTMW'/>
 </message>
 <message name='MUPRTMWSoapOut'>
  <part name='parameters' element='tns:MUPRTMWResponse'/>
 </message>
 <portType name='IASLIBPort'>
  <operation name='MUPRTMW'>
   <input message='tns:MUPRTMWSoapIn'/>
   <output message='tns:MUPRTMWSoapOut'/>
  </operation>
 </portType>
 <binding name='IASLIBSoapBinding' type='tns:IASLIBPort'>
  <soap:binding style='document' transport='http://schemas.xmlsoap.org/soap/http'/>
  <operation name='MUPRTMW'>
   <soap:operation soapAction='MUPRTMW'/>
   <input>
    <soap:body use='literal'/>
   </input>
   <output>
    <soap:body use='literal'/>
   </output>
  </operation>
 </binding>
 <service name='EventPortRequest'>
  <port name='IASLIBPort' binding='tns:IASLIBSoapBinding'>
   <soap:address location='http://etbprod:8080/EntireX-ETBPROD/xmlrt'/>
  </port>
 </service>
</definitions>
