wsdls/GetDEPENDInfo.wsdl

<?xml version='1.0' encoding='utf-8'?>
<!-- Generated by EntireX Communicator Web Service Plug-in , Version 7.3.3.000 -->
<!-- WSDL from IDL generator, Version 7.3.3.000 on Oct 16, 2008 4:04:53 PM -->
<definitions name='IASLIB' targetNamespace='urn:com-softwareag-entirex-rpc:IASLIB' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:SOAP-ENC='http://schemas.xmlsoap.org/soap/encoding/' xmlns:tns='urn:com-softwareag-entirex-rpc:IASLIB'>
 <types>
  <xsd:schema targetNamespace='urn:com-softwareag-entirex-rpc:IASLIB'>
   <xsd:element name='IADEPBW'>
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name='STD_IN'>
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name='API_VERS' type='xsd:string'/>
         <xsd:element name='SCHEMA_VERS' type='xsd:string'/>
         <xsd:element name='ENVIRONMENT' type='xsd:string'/>
         <xsd:element name='LOGICAL_USER' type='xsd:string'/>
         <xsd:element name='SENDER_COMP' type='xsd:string'/>
         <xsd:element name='SENDER_TASK' type='xsd:string'/>
         <xsd:element name='SENDER_GUID' type='xsd:string'/>
         <xsd:element name='SENDER_TIME' type='xsd:dateTime'/>
         <xsd:element name='SENDER_LANG' type='xsd:string'/>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
      <xsd:element name='IN_PARM'>
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name='FUNCTION' type='xsd:string'/>
         <xsd:element name='POLICY_ID' type='xsd:decimal'/>
         <xsd:element name='GET_SUFFIX' type='xsd:decimal'/>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
      <xsd:element name='INOUT_PARM'>
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name='MORE_DATA' type='xsd:string'/>
         <xsd:element name='START_KEY' type='xsd:string'/>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name='IADEPBWResponse'>
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name='STD_OUT'>
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name='RETURN_CODE' type='xsd:string'/>
         <xsd:element name='MESSAGE_NBR' type='xsd:decimal'/>
         <xsd:element name='MESSAGE_TEXT' type='xsd:string'/>
         <xsd:element name='RECEIVE_GUID' type='xsd:string'/>
         <xsd:element name='RECEIVE_TIME' type='xsd:dateTime'/>
         <xsd:element name='ERROR_FIELD' type='xsd:string'/>
         <xsd:element name='ERROR_INDEX1' type='xsd:decimal'/>
         <xsd:element name='ERROR_INDEX2' type='xsd:decimal'/>
         <xsd:element name='ERROR_INDEX3' type='xsd:decimal'/>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
      <xsd:element name='INOUT_PARM1'>
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name='MORE_DATA1' type='xsd:string'/>
         <xsd:element name='START_KEY1' type='xsd:string'/>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
      <xsd:element name='OUT_PARMs'>
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name='OUT_PARM' minOccurs='1' maxOccurs='25'>
          <xsd:complexType>
           <xsd:sequence>
            <xsd:element name='DEPENDENT_RECORD'>
             <xsd:complexType>
              <xsd:sequence>
               <xsd:element name='DEP_POLICY_TYPE' type='xsd:decimal'/>
               <xsd:element name='DEP_POLICY_NUMBER' type='xsd:decimal'/>
               <xsd:element name='DEP_POLICY_SUFFIX_NUM' type='xsd:decimal'/>
               <xsd:element name='DEP_NAME' type='xsd:string'/>
               <xsd:element name='DEP_EFFECTIVE_DATE' type='xsd:string'/>
               <xsd:element name='DEP_TERMINATION_DATE' type='xsd:string'/>
               <xsd:element name='DEP_BIRTH_DATE' type='xsd:string'/>
               <xsd:element name='DEP_SEX' type='xsd:string'/>
               <xsd:element name='DEP_RELATION' type='xsd:string'/>
               <xsd:element name='DEP_COLLEGE_STUDENT' type='xsd:string'/>
               <xsd:element name='DEP_HANDICAP' type='xsd:string'/>
               <xsd:element name='DEP_PRE_EXIST_COND' type='xsd:string'/>
               <xsd:element name='DEP_EX_RIDER' type='xsd:string'/>
               <xsd:element name='DEP_STATUS' type='xsd:string'/>
               <xsd:element name='DEP_SPACE' type='xsd:string'/>
               <xsd:element name='DEP_UPDATE_COUNT' type='xsd:decimal'/>
              </xsd:sequence>
             </xsd:complexType>
            </xsd:element>
            <xsd:element name='DEP_RECORD_KEY' type='xsd:string'/>
           </xsd:sequence>
          </xsd:complexType>
         </xsd:element>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
  </xsd:schema>
 </types>
 <message name='IADEPBWSoapIn'>
  <part name='parameters' element='tns:IADEPBW'/>
 </message>
 <message name='IADEPBWSoapOut'>
  <part name='parameters' element='tns:IADEPBWResponse'/>
 </message>
 <portType name='IASLIBPort'>
  <operation name='IADEPBW'>
   <input message='tns:IADEPBWSoapIn'/>
   <output message='tns:IADEPBWSoapOut'/>
  </operation>
 </portType>
 <binding name='IASLIBSoapBinding' type='tns:IASLIBPort'>
  <soap:binding style='document' transport='http://schemas.xmlsoap.org/soap/http'/>
  <operation name='IADEPBW'>
   <soap:operation soapAction='IADEPBW'/>
   <input>
    <soap:body use='literal'/>
   </input>
   <output>
    <soap:body use='literal'/>
   </output>
  </operation>
 </binding>
 <service name='GetDEPENDInfo'>
  <port name='IASLIBPort' binding='tns:IASLIBSoapBinding'>
   <soap:address location='http://etbtest:8080/EntireX-ETBTEST/xmlrt'/>
  </port>
 </service>
</definitions>
