wsdls/GetHOSBILInfo.wsdl

<?xml version='1.0' encoding='utf-8'?>
<!-- Generated by EntireX Communicator Web Service Plug-in , Version 7.3.3.000 -->
<!-- WSDL from IDL generator, Version 7.3.3.000 on Oct 17, 2008 8:47:04 AM -->
<definitions name='IASLIB' targetNamespace='urn:com-softwareag-entirex-rpc:IASLIB' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:SOAP-ENC='http://schemas.xmlsoap.org/soap/encoding/' xmlns:tns='urn:com-softwareag-entirex-rpc:IASLIB'>
 <types>
  <xsd:schema targetNamespace='urn:com-softwareag-entirex-rpc:IASLIB'>
   <xsd:element name='IAPOLMW'>
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name='STD_IN'>
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name='API_VERS' type='xsd:string'/>
         <xsd:element name='SCHEMA_VERS' type='xsd:string'/>
         <xsd:element name='ENVIRONMENT' type='xsd:string'/>
         <xsd:element name='LOGICAL_USER' type='xsd:string'/>
         <xsd:element name='SENDER_COMP' type='xsd:string'/>
         <xsd:element name='SENDER_TASK' type='xsd:string'/>
         <xsd:element name='SENDER_GUID' type='xsd:string'/>
         <xsd:element name='SENDER_TIME' type='xsd:dateTime'/>
         <xsd:element name='SENDER_LANG' type='xsd:string'/>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
      <xsd:element name='IN_PARM'>
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name='POLICY_ID' type='xsd:decimal'/>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name='IAPOLMWResponse'>
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name='STD_OUT'>
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name='RETURN_CODE' type='xsd:string'/>
         <xsd:element name='MESSAGE_NBR' type='xsd:decimal'/>
         <xsd:element name='MESSAGE_TEXT' type='xsd:string'/>
         <xsd:element name='RECEIVE_GUID' type='xsd:string'/>
         <xsd:element name='RECEIVE_TIME' type='xsd:dateTime'/>
         <xsd:element name='ERROR_FIELD' type='xsd:string'/>
         <xsd:element name='ERROR_INDEX1' type='xsd:decimal'/>
         <xsd:element name='ERROR_INDEX2' type='xsd:decimal'/>
         <xsd:element name='ERROR_INDEX3' type='xsd:decimal'/>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
      <xsd:element name='OUT_PARM'>
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name='HOSPITAL_MASTER_FILE'>
          <xsd:complexType>
           <xsd:sequence>
            <xsd:element name='HMF_PREFIX' type='xsd:string'/>
            <xsd:element name='HMF_CERT_NO' type='xsd:decimal'/>
            <xsd:element name='HMF_DELETE_CD' type='xsd:string'/>
            <xsd:element name='HMF_LAST_ACT_DT' type='xsd:string'/>
            <xsd:element name='HMF_CHG_CD' type='xsd:string'/>
            <xsd:element name='HMF_CHG_DT' type='xsd:string'/>
            <xsd:element name='HMF_APP_DT' type='xsd:string'/>
            <xsd:element name='HMF_EFF_DT' type='xsd:string'/>
            <xsd:element name='HMF_ISSUE_AGE' type='xsd:decimal'/>
            <xsd:element name='HMF_BIRTH_DT' type='xsd:string'/>
            <xsd:element name='HMF_SEX_CD' type='xsd:string'/>
            <xsd:element name='HMF_REINSURANCE_CD' type='xsd:string'/>
            <xsd:element name='HMF_PLAN' type='xsd:string'/>
            <xsd:element name='HMF_AD_AMT_INS' type='xsd:decimal'/>
            <xsd:element name='HMF_LIFE_PREM' type='xsd:decimal'/>
            <xsd:element name='HMF_HOSP_PREM' type='xsd:decimal'/>
            <xsd:element name='HMF_MRA_PREM' type='xsd:decimal'/>
            <xsd:element name='HMF_DIS_PREM' type='xsd:decimal'/>
            <xsd:element name='HMF_INCR_6_78' type='xsd:string'/>
            <xsd:element name='HMF_VER_LET_CD' type='xsd:string'/>
            <xsd:element name='HMF_HOSP_TOT_PREM' type='xsd:decimal'/>
            <xsd:element name='HMF_LIFE_TOT_PREM' type='xsd:decimal'/>
            <xsd:element name='HMF_DIS_TOT_PREM' type='xsd:decimal'/>
            <xsd:element name='HMF_ADD_TOT_PREM' type='xsd:decimal'/>
            <xsd:element name='HMF_STATUS' type='xsd:string'/>
            <xsd:element name='HMF_BILL_CD' type='xsd:string'/>
            <xsd:element name='HMF_MODE' type='xsd:decimal'/>
            <xsd:element name='HMF_BILL_DT' type='xsd:decimal'/>
            <xsd:element name='HMF_LAST_BILL_DT' type='xsd:string'/>
            <xsd:element name='HMF_LAST_PAID_DT' type='xsd:string'/>
            <xsd:element name='HMF_NEXT_DUE_DT' type='xsd:decimal'/>
            <xsd:element name='HMF_ANNUAL_PREM' type='xsd:decimal'/>
            <xsd:element name='HMF_MODAL_PREM' type='xsd:decimal'/>
            <xsd:element name='HMF_SUSPENSE_DT' type='xsd:string'/>
            <xsd:element name='HMF_SUSPENSE_AMT' type='xsd:decimal'/>
            <xsd:element name='HMF_PROTESTED_DT' type='xsd:string'/>
            <xsd:element name='HMF_PROTESTED_AMT' type='xsd:decimal'/>
            <xsd:element name='HMF_STATE_CD' type='xsd:decimal'/>
            <xsd:element name='HMF_SB_NMBR' type='xsd:decimal'/>
            <xsd:element name='HMF_ALT_STATUS' type='xsd:string'/>
            <xsd:element name='HMF_AUTO_PROTESTED' type='xsd:string'/>
            <xsd:element name='HMF_AUTO_STATUS' type='xsd:string'/>
            <xsd:element name='HMF_NOTICE_CT' type='xsd:decimal'/>
            <xsd:element name='HMF_AC_BILL_CD' type='xsd:string'/>
            <xsd:element name='HMF_CANC_REIN_CD' type='xsd:string'/>
            <xsd:element name='HMF_CANC_REIN_DT' type='xsd:decimal'/>
            <xsd:element name='HMF_VL_SENT_DT' type='xsd:string'/>
            <xsd:element name='HMF_REPLACE_AMT' type='xsd:string'/>
            <xsd:element name='HMF_DUP_ADDR_CD' type='xsd:string'/>
            <xsd:element name='HMF_NAME' type='xsd:string'/>
            <xsd:element name='HMF_ADDR_LN2_CD' type='xsd:string'/>
            <xsd:element name='HMF_ADDR_LN2' type='xsd:string'/>
            <xsd:element name='HMF_ADDR_LN3' type='xsd:string'/>
            <xsd:element name='HMF_ADDR_LN4' type='xsd:string'/>
            <xsd:element name='HMF_CITY' type='xsd:string'/>
            <xsd:element name='HMF_STATE' type='xsd:string'/>
            <xsd:element name='HMF_ZIP' type='xsd:decimal'/>
            <xsd:element name='HMF_EXTZIP' type='xsd:decimal'/>
            <xsd:element name='HMF_SPOUSE_ISSUE_AGE' type='xsd:decimal'/>
            <xsd:element name='HMF_SPOUSE_BIRTH_DT' type='xsd:string'/>
            <xsd:element name='HMF_PREG' type='xsd:string'/>
            <xsd:element name='HMF_DELREQ' type='xsd:string'/>
            <xsd:element name='HMF_DELIV_RECVD' type='xsd:string'/>
            <xsd:element name='HMF_DATE_ACTIVE' type='xsd:string'/>
            <xsd:element name='HMF_EXRIDE' type='xsd:string'/>
            <xsd:element name='HMF_REPPOL' type='xsd:string'/>
            <xsd:element name='HMF_DEPEND' type='xsd:decimal'/>
            <xsd:element name='HMF_DATE_LAST_INCR' type='xsd:string'/>
            <xsd:element name='HMF_MAIL_DT' type='xsd:string'/>
            <xsd:element name='HMF_DEPEND_SUFFIX' type='xsd:decimal'/>
            <xsd:element name='HMF_DEPEND_FLAG' type='xsd:string'/>
            <xsd:element name='HMF_AGENT_POLICY' type='xsd:string'/>
            <xsd:element name='HMF_COUNTY_CODE' type='xsd:decimal'/>
            <xsd:element name='HMF_PREV_POL' type='xsd:decimal'/>
            <xsd:element name='HMF_LDATE1' type='xsd:string'/>
            <xsd:element name='HMF_RDATE1' type='xsd:string'/>
            <xsd:element name='HMF_LDATE2' type='xsd:string'/>
            <xsd:element name='HMF_RDATE2' type='xsd:string'/>
            <xsd:element name='HMF_PREV_PLAN' type='xsd:string'/>
            <xsd:element name='HMF_PREV_PLAN_DATE' type='xsd:string'/>
            <xsd:element name='HMF_AGE_CODE' type='xsd:string'/>
            <xsd:element name='HMF_SPOUSE_AGE_CODE' type='xsd:string'/>
            <xsd:element name='HMF_NBVLET_CD' type='xsd:string'/>
            <xsd:element name='HMF_TEMPLET_CD' type='xsd:string'/>
            <xsd:element name='HMF_DAILY_BENEFIT_AMT' type='xsd:decimal'/>
            <xsd:element name='HMF_INSURED_OVER_65_FLAG' type='xsd:string'/>
            <xsd:element name='HMF_SPOUSE_OVER_65_FLAG' type='xsd:string'/>
            <xsd:element name='HMF_INSURED_OVER_70_FLAG' type='xsd:string'/>
            <xsd:element name='HMF_SS_NUMBER' type='xsd:decimal'/>
            <xsd:element name='HMF_DENTAL_PREM' type='xsd:decimal'/>
            <xsd:element name='HMF_DENTAL_TOT_PREM' type='xsd:decimal'/>
            <xsd:element name='HMF_LAST_ADDR_CHG' type='xsd:string'/>
            <xsd:element name='HMF_HOSP1_OPSEC' type='xsd:string'/>
            <xsd:element name='HMF_ISSUE_STATE' type='xsd:string'/>
            <xsd:element name='HMF_DELREQ2' type='xsd:string'/>
            <xsd:element name='HMF_DELIV_RECVD2' type='xsd:string'/>
            <xsd:element name='HMF_MAIL_DT2' type='xsd:string'/>
            <xsd:element name='HMF_REISS_REQ_RECD' type='xsd:string'/>
            <xsd:element name='HMF_REISSUE_PAGE' type='xsd:string'/>
            <xsd:element name='HMF_RES_ADDR_LN1' type='xsd:string'/>
            <xsd:element name='HMF_RES_ADDR_LN2' type='xsd:string'/>
            <xsd:element name='HMF_RES_CITY' type='xsd:string'/>
            <xsd:element name='HMF_RES_STATE' type='xsd:string'/>
            <xsd:element name='HMF_RES_ZIP' type='xsd:decimal'/>
            <xsd:element name='HMF_RES_EXTZIP' type='xsd:decimal'/>
            <xsd:element name='HMF_PPO_NETWORK' type='xsd:string'/>
            <xsd:element name='HMF_PLAN_TYPE' type='xsd:string'/>
            <xsd:element name='HMF_PHONE_NBR' type='xsd:decimal'/>
            <xsd:element name='HMF_OTTRR' type='xsd:string'/>
            <xsd:element name='HMF_FINAL_NOTICE_DT' type='xsd:string'/>
            <xsd:element name='HMF_PRE_EXISTING_OVERRIDE' type='xsd:string'/>
            <xsd:element name='HMF_RETURN_MAIL_DATE' type='xsd:string'/>
            <xsd:element name='HMF_RETURN_MAIL_REQUESTED' type='xsd:string'/>
            <xsd:element name='HMF_SUB_AMT' type='xsd:decimal'/>
            <xsd:element name='HMF_AGT_DBCR_INFO'>
             <xsd:complexType>
              <xsd:sequence>
               <xsd:element name='HMF_PREM_NOTC_DT' type='xsd:string'/>
               <xsd:element name='HMF_PREM_REQD' type='xsd:decimal'/>
               <xsd:element name='HMF_15DAY_LTR_IND' type='xsd:string'/>
               <xsd:element name='HMF_25DAY_LTR_IND' type='xsd:string'/>
               <xsd:element name='HMF_OVERRIDE' type='xsd:string'/>
               <xsd:element name='HMF_RESET_AGT_DR_CR' type='xsd:string'/>
              </xsd:sequence>
             </xsd:complexType>
            </xsd:element>
            <xsd:element name='HMF_BASE_UNIT' type='xsd:decimal'/>
            <xsd:element name='HMF_HIPAA_IND' type='xsd:string'/>
            <xsd:element name='HMF_LIFETIME_MAX_IND' type='xsd:string'/>
            <xsd:element name='FILLER_R' type='xsd:string'/>
           </xsd:sequence>
          </xsd:complexType>
         </xsd:element>
         <xsd:element name='PIF_DEDUCTIBLE' type='xsd:decimal'/>
         <xsd:element name='PIF_LIFE_MAX' type='xsd:decimal'/>
         <xsd:element name='PIF_COINS_PCT' type='xsd:decimal'/>
         <xsd:element name='PIF_COINS_MAX' type='xsd:decimal'/>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
  </xsd:schema>
 </types>
 <message name='IAPOLMWSoapIn'>
  <part name='parameters' element='tns:IAPOLMW'/>
 </message>
 <message name='IAPOLMWSoapOut'>
  <part name='parameters' element='tns:IAPOLMWResponse'/>
 </message>
 <portType name='IASLIBPort'>
  <operation name='IAPOLMW'>
   <input message='tns:IAPOLMWSoapIn'/>
   <output message='tns:IAPOLMWSoapOut'/>
  </operation>
 </portType>
 <binding name='IASLIBSoapBinding' type='tns:IASLIBPort'>
  <soap:binding style='document' transport='http://schemas.xmlsoap.org/soap/http'/>
  <operation name='IAPOLMW'>
   <soap:operation soapAction='IAPOLMW'/>
   <input>
    <soap:body use='literal'/>
   </input>
   <output>
    <soap:body use='literal'/>
   </output>
  </operation>
 </binding>
 <service name='GetHOSBILInfo'>
  <port name='IASLIBPort' binding='tns:IASLIBSoapBinding'>
   <soap:address location='http://etbtest:8080/EntireX-ETBTEST/xmlrt'/>
  </port>
 </service>
</definitions>
