wsdls/GetPolCovBenDetails.wsdl

<?xml version='1.0' encoding='utf-8'?>
<!-- Generated by EntireX Communicator Web Service Plug-in , Version 7.3.3.000 -->
<!-- WSDL from IDL generator, Version 7.3.3.000 on Oct 15, 2008 8:21:16 AM -->
<definitions name='ACSLIB' targetNamespace='urn:com-softwareag-entirex-rpc:ACSLIB' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:SOAP-ENC='http://schemas.xmlsoap.org/soap/encoding/' xmlns:tns='urn:com-softwareag-entirex-rpc:ACSLIB'>
 <types>
  <xsd:schema targetNamespace='urn:com-softwareag-entirex-rpc:ACSLIB'>
   <xsd:element name='IAPBDBW'>
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name='STD_IN'>
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name='API_VERS' type='xsd:string'/>
         <xsd:element name='SCHEMA_VERS' type='xsd:string'/>
         <xsd:element name='ENVIRONMENT' type='xsd:string'/>
         <xsd:element name='LOGICAL_USER' type='xsd:string'/>
         <xsd:element name='SENDER_COMP' type='xsd:string'/>
         <xsd:element name='SENDER_TASK' type='xsd:string'/>
         <xsd:element name='SENDER_GUID' type='xsd:string'/>
         <xsd:element name='SENDER_TIME' type='xsd:dateTime'/>
         <xsd:element name='SENDER_LANG' type='xsd:string'/>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
      <xsd:element name='IN_PARM'>
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name='FUNCTION' type='xsd:string'/>
         <xsd:element name='POLICY_ID' type='xsd:decimal'/>
         <xsd:element name='GET_COVERAGE_CODE' type='xsd:string'/>
         <xsd:element name='GET_BENEFIT_CODE' type='xsd:string'/>
         <xsd:element name='TRANSACTION_DATE' type='xsd:string'/>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
      <xsd:element name='INOUT_PARM'>
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name='MORE_DETAILS' type='xsd:string'/>
         <xsd:element name='START_KEY' type='xsd:string'/>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name='IAPBDBWResponse'>
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name='STD_OUT'>
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name='RETURN_CODE' type='xsd:string'/>
         <xsd:element name='MESSAGE_NBR' type='xsd:decimal'/>
         <xsd:element name='MESSAGE_TEXT' type='xsd:string'/>
         <xsd:element name='RECEIVE_GUID' type='xsd:string'/>
         <xsd:element name='RECEIVE_TIME' type='xsd:dateTime'/>
         <xsd:element name='ERROR_FIELD' type='xsd:string'/>
         <xsd:element name='ERROR_INDEX1' type='xsd:decimal'/>
         <xsd:element name='ERROR_INDEX2' type='xsd:decimal'/>
         <xsd:element name='ERROR_INDEX3' type='xsd:decimal'/>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
      <xsd:element name='INOUT_PARM1'>
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name='MORE_DETAILS1' type='xsd:string'/>
         <xsd:element name='START_KEY1' type='xsd:string'/>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
      <xsd:element name='OUT_PARMs'>
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name='OUT_PARM' minOccurs='1' maxOccurs='50'>
          <xsd:complexType>
           <xsd:sequence>
            <xsd:element name='CREATE_DATE_TIME' type='xsd:string'/>
            <xsd:element name='CREATE_USER_ID' type='xsd:string'/>
            <xsd:element name='CREATE_PGM' type='xsd:string'/>
            <xsd:element name='MAINT_DATE_TIME' type='xsd:string'/>
            <xsd:element name='MAINT_USER_ID' type='xsd:string'/>
            <xsd:element name='MAINT_PGM' type='xsd:string'/>
            <xsd:element name='MARKET_CODE' type='xsd:string'/>
            <xsd:element name='RISK_CATEGORY_CODE' type='xsd:string'/>
            <xsd:element name='COMPOSITE_FIELD'>
             <xsd:complexType>
              <xsd:sequence>
               <xsd:element name='GROUP_ID' type='xsd:decimal'/>
               <xsd:element name='PRODUCT_CODE' type='xsd:string'/>
               <xsd:element name='BENEFIT_CODE' type='xsd:string'/>
               <xsd:element name='EMPLOYER_ID' type='xsd:decimal'/>
               <xsd:element name='LOCATION_ID' type='xsd:decimal'/>
               <xsd:element name='EMPLOYEE_CLASS_CODE' type='xsd:string'/>
               <xsd:element name='POLICY_ID1' type='xsd:decimal'/>
               <xsd:element name='PERSON_ID' type='xsd:decimal'/>
              </xsd:sequence>
             </xsd:complexType>
            </xsd:element>
            <xsd:element name='COVERAGE_CODE' type='xsd:string'/>
            <xsd:element name='DEDUCTIBLE_CODE' type='xsd:string'/>
            <xsd:element name='COINSURANCE_CODE' type='xsd:string'/>
            <xsd:element name='BENEFIT_PERCENT_CODE' type='xsd:string'/>
            <xsd:element name='DEDUCTIBLE_TYPE_CODE' type='xsd:string'/>
            <xsd:element name='BRAND_NAME_COPAYMENT_CODE' type='xsd:string'/>
            <xsd:element name='COST_CONTAINMENT_CODE' type='xsd:string'/>
            <xsd:element name='MAXIMUM_CODE' type='xsd:string'/>
            <xsd:element name='ENTITY_EFFECTIVE_DATE' type='xsd:string'/>
            <xsd:element name='ENTITY_ENTRY_DATE' type='xsd:string'/>
            <xsd:element name='ENTITY_EFFECTIVE_DATE_9SCOMP' type='xsd:decimal'/>
            <xsd:element name='ENTITY_ENTRY_DATE_9SCOMP' type='xsd:decimal'/>
            <xsd:element name='ENTITY_EXP_DATE' type='xsd:string'/>
           </xsd:sequence>
          </xsd:complexType>
         </xsd:element>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
  </xsd:schema>
 </types>
 <message name='IAPBDBWSoapIn'>
  <part name='parameters' element='tns:IAPBDBW'/>
 </message>
 <message name='IAPBDBWSoapOut'>
  <part name='parameters' element='tns:IAPBDBWResponse'/>
 </message>
 <portType name='ACSLIBPort'>
  <operation name='IAPBDBW'>
   <input message='tns:IAPBDBWSoapIn'/>
   <output message='tns:IAPBDBWSoapOut'/>
  </operation>
 </portType>
 <binding name='ACSLIBSoapBinding' type='tns:ACSLIBPort'>
  <soap:binding style='document' transport='http://schemas.xmlsoap.org/soap/http'/>
  <operation name='IAPBDBW'>
   <soap:operation soapAction='IAPBDBW'/>
   <input>
    <soap:body use='literal'/>
   </input>
   <output>
    <soap:body use='literal'/>
   </output>
  </operation>
 </binding>
 <service name='GetPolCovBenDetails'>
  <port name='ACSLIBPort' binding='tns:ACSLIBSoapBinding'>
   <soap:address location='http://etbtest:8080/EntireX-ETBTEST/xmlrt'/>
  </port>
 </service>
</definitions>
