wsdls/GetPersonData.wsdl

<?xml version='1.0' encoding='utf-8'?>
<!-- Generated by EntireX Communicator Web Service Plug-in , Version 7.3.3.000 -->
<!-- WSDL from IDL generator, Version 7.3.3.000 on Aug 5, 2008 10:46:45 AM -->
<definitions name='IASLIB' targetNamespace='urn:com-softwareag-entirex-rpc:IASLIB' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:SOAP-ENC='http://schemas.xmlsoap.org/soap/encoding/' xmlns:tns='urn:com-softwareag-entirex-rpc:IASLIB'>
 <types>
  <xsd:schema targetNamespace='urn:com-softwareag-entirex-rpc:IASLIB'>
   <xsd:element name='ACPCYMW1'>
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name='IN_PARMS'>
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name='PERSON_ID' type='xsd:decimal'/>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name='ACPCYMW1Response'>
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name='MSG_INFO'>
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name='RETURN_CODE' type='xsd:string'/>
         <xsd:element name='MSG_NR' type='xsd:decimal'/>
         <xsd:element name='MSG_TEXT' type='xsd:string'/>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
      <xsd:element name='OUT_PARMS'>
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name='RESPONSE_INDICATOR' type='xsd:string'/>
         <xsd:element name='MIB_BIRTH_PLACE' type='xsd:string'/>
         <xsd:element name='AGE' type='xsd:decimal'/>
         <xsd:element name='SEX' type='xsd:string'/>
         <xsd:element name='MARITAL_STATUS' type='xsd:string'/>
         <xsd:element name='DRIVERS_LICENCE_ID' type='xsd:string'/>
         <xsd:element name='DRIVER_LICENCE_STATE' type='xsd:string'/>
         <xsd:element name='EMPLOYER' type='xsd:string'/>
         <xsd:element name='DATE_CREATED' type='xsd:string'/>
         <xsd:element name='SUBJECT_PERSON_SEARCH_NAME' type='xsd:string'/>
         <xsd:element name='BIRTH_DATE_YYYYMMDD' type='xsd:decimal'/>
         <xsd:element name='SOCIAL_SECURITY_NUMBER' type='xsd:string'/>
         <xsd:element name='OCCUPATION' type='xsd:string'/>
         <xsd:element name='EMP_START_DATE_YY_MM' type='xsd:decimal'/>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
  </xsd:schema>
 </types>
 <message name='ACPCYMW1SoapIn'>
  <part name='parameters' element='tns:ACPCYMW1'/>
 </message>
 <message name='ACPCYMW1SoapOut'>
  <part name='parameters' element='tns:ACPCYMW1Response'/>
 </message>
 <portType name='IASLIBPort'>
  <operation name='ACPCYMW1'>
   <input message='tns:ACPCYMW1SoapIn'/>
   <output message='tns:ACPCYMW1SoapOut'/>
  </operation>
 </portType>
 <binding name='IASLIBSoapBinding' type='tns:IASLIBPort'>
  <soap:binding style='document' transport='http://schemas.xmlsoap.org/soap/http'/>
  <operation name='ACPCYMW1'>
   <soap:operation soapAction='ACPCYMW1'/>
   <input>
    <soap:body use='literal'/>
   </input>
   <output>
    <soap:body use='literal'/>
   </output>
  </operation>
 </binding>
 <service name='GetPersonData'>
  <port name='IASLIBPort' binding='tns:IASLIBSoapBinding'>
   <soap:address location='http://etbprod:8080/EntireX-ETBPROD/xmlrt'/>
  </port>
 </service>
</definitions>
