wsdls/GetPolicyInfo.wsdl

<?xml version='1.0' encoding='utf-8'?>
<!-- Generated by EntireX Communicator Web Service Plug-in , Version 7.3.3.000 -->
<!-- WSDL from IDL generator, Version 7.3.3.000 on Nov 19, 2008 2:49:43 PM -->
<definitions name='IASLIB' targetNamespace='urn:com-softwareag-entirex-rpc:IASLIB' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:SOAP-ENC='http://schemas.xmlsoap.org/soap/encoding/' xmlns:tns='urn:com-softwareag-entirex-rpc:IASLIB'>
 <types>
  <xsd:schema targetNamespace='urn:com-softwareag-entirex-rpc:IASLIB'>
   <xsd:element name='ACPLYMW1'>
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name='STD_IN'>
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name='API_VERS' type='xsd:string'/>
         <xsd:element name='SCHEMA_VERS' type='xsd:string'/>
         <xsd:element name='ENVIRONMENT' type='xsd:string'/>
         <xsd:element name='LOGICAL_USER' type='xsd:string'/>
         <xsd:element name='SENDER_COMP' type='xsd:string'/>
         <xsd:element name='SENDER_TASK' type='xsd:string'/>
         <xsd:element name='SENDER_GUID' type='xsd:string'/>
         <xsd:element name='SENDER_TIME' type='xsd:dateTime'/>
         <xsd:element name='SENDER_LANG' type='xsd:string'/>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
      <xsd:element name='IN_PARM'>
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name='POLICY_ID' type='xsd:decimal'/>
         <xsd:element name='TRANS_EFF_DATE' type='xsd:string'/>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name='ACPLYMW1Response'>
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name='STD_OUT'>
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name='RETURN_CODE' type='xsd:string'/>
         <xsd:element name='MESSAGE_NBR' type='xsd:decimal'/>
         <xsd:element name='MESSAGE_TEXT' type='xsd:string'/>
         <xsd:element name='RECEIVE_GUID' type='xsd:string'/>
         <xsd:element name='RECEIVE_TIME' type='xsd:dateTime'/>
         <xsd:element name='ERROR_FIELD' type='xsd:string'/>
         <xsd:element name='ERROR_INDEX1' type='xsd:decimal'/>
         <xsd:element name='ERROR_INDEX2' type='xsd:decimal'/>
         <xsd:element name='ERROR_INDEX3' type='xsd:decimal'/>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
      <xsd:element name='OUT_PARM'>
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name='CREATE_DATE_TIME' type='xsd:string'/>
         <xsd:element name='CREATE_USER_ID' type='xsd:string'/>
         <xsd:element name='CREATE_PGM' type='xsd:string'/>
         <xsd:element name='MAINT_DATE_TIME' type='xsd:string'/>
         <xsd:element name='MAINT_USER_ID' type='xsd:string'/>
         <xsd:element name='MAINT_PGM' type='xsd:string'/>
         <xsd:element name='COVERAGE_ID' type='xsd:decimal'/>
         <xsd:element name='MARKET_CODE' type='xsd:string'/>
         <xsd:element name='GROUP_ID' type='xsd:decimal'/>
         <xsd:element name='EMPLOYER_ID' type='xsd:decimal'/>
         <xsd:element name='LOCATION_ID' type='xsd:decimal'/>
         <xsd:element name='EMPLOYEE_CLASS_CODE' type='xsd:string'/>
         <xsd:element name='KEY_INSURED_PERSON_ID' type='xsd:decimal'/>
         <xsd:element name='KEY_PRODUCT_ID' type='xsd:string'/>
         <xsd:element name='SORT_ID' type='xsd:string'/>
         <xsd:element name='KEY_INSURED_SEARCH_NAME' type='xsd:string'/>
         <xsd:element name='EFFECTIVE_DATE' type='xsd:string'/>
         <xsd:element name='PAID_TO_DATE' type='xsd:string'/>
         <xsd:element name='BILLED_TO_DATE' type='xsd:string'/>
         <xsd:element name='POLICY_ID_RELATE' type='xsd:decimal'/>
         <xsd:element name='KEY_INSURED_ADDRESS_ID' type='xsd:decimal'/>
         <xsd:element name='KEY_INSURED_SEARCH_ADDRESS' type='xsd:string'/>
         <xsd:element name='KEY_INSURED_COUNTY' type='xsd:string'/>
         <xsd:element name='APPLICATION_FORM_ID' type='xsd:string'/>
         <xsd:element name='LINE_OF_BUSINESS' type='xsd:string'/>
         <xsd:element name='STATE_SIGNED' type='xsd:string'/>
         <xsd:element name='STATE_ISSUED' type='xsd:string'/>
         <xsd:element name='KEY_INSURED_STATE' type='xsd:string'/>
         <xsd:element name='AGENT_CODE' type='xsd:string'/>
         <xsd:element name='APPLICATION_INCOMPLETE_IND' type='xsd:string'/>
         <xsd:element name='ACTIVATE_FLAG' type='xsd:string'/>
         <xsd:element name='PLAN_CODE' type='xsd:string'/>
         <xsd:element name='MODE_OF_PAYMENT' type='xsd:string'/>
         <xsd:element name='BILL_CODE' type='xsd:string'/>
         <xsd:element name='TENDERED_PAYMENT_TYPE' type='xsd:string'/>
         <xsd:element name='NEW_LIST_BILL_IND' type='xsd:string'/>
         <xsd:element name='OLD_POLICY_EXISTS_IND' type='xsd:string'/>
         <xsd:element name='OLD_POLICY_REPLACEMENT_IND' type='xsd:string'/>
         <xsd:element name='OLD_POLICY_COMPANY_NAME' type='xsd:string'/>
         <xsd:element name='POLICY_STATUS_CURRENT' type='xsd:string'/>
         <xsd:element name='POLICY_STATUS_CURRENT_DATE' type='xsd:string'/>
         <xsd:element name='DATE_SIGNED' type='xsd:string'/>
         <xsd:element name='PREMIUM_PAYABLE' type='xsd:decimal'/>
         <xsd:element name='TENDERED_AMOUNT' type='xsd:decimal'/>
         <xsd:element name='ANNUALISED_PREMIUM_PAYABLE' type='xsd:decimal'/>
         <xsd:element name='DIARY_UNSECURED_TEXT_ID' type='xsd:decimal'/>
         <xsd:element name='DIARY_SECURED_TEXT_ID' type='xsd:decimal'/>
         <xsd:element name='REQUESTED_EFF_DATE' type='xsd:string'/>
         <xsd:element name='DECISION_DATE_TIME' type='xsd:string'/>
         <xsd:element name='DECISION_DATE_TIME_9SCOMP' type='xsd:decimal'/>
         <xsd:element name='LIST_BILL_NUMBER' type='xsd:decimal'/>
         <xsd:element name='BILL_ADDRESS_ID' type='xsd:decimal'/>
         <xsd:element name='BILL_SEARCH_ADDRESS' type='xsd:string'/>
         <xsd:element name='THIRD_PARTY_CHECK_NAME' type='xsd:string'/>
         <xsd:element name='HLQ_Y_ANSWERS_IND' type='xsd:string'/>
         <xsd:element name='DIARY_SHORT_TEXT' type='xsd:string'/>
         <xsd:element name='CONVERSION_IND' type='xsd:string'/>
         <xsd:element name='OVERRIDE_IND' type='xsd:string'/>
         <xsd:element name='AMENDMENT_TEXT_ID'>
          <xsd:complexType>
           <xsd:sequence>
            <xsd:element name='decimal' minOccurs='1' maxOccurs='5' type='xsd:decimal'/>
           </xsd:sequence>
          </xsd:complexType>
         </xsd:element>
         <xsd:element name='THIRD_PARTY_CHECK_ADDRESS'>
          <xsd:complexType>
           <xsd:sequence>
            <xsd:element name='string' minOccurs='1' maxOccurs='3' type='xsd:string'/>
           </xsd:sequence>
          </xsd:complexType>
         </xsd:element>
         <xsd:element name='THIRD_PARTY_CHECK_CITY' type='xsd:string'/>
         <xsd:element name='THIRD_PARTY_CHECK_STATE' type='xsd:string'/>
         <xsd:element name='THIRD_PARTY_CHECK_ZIP_CODE' type='xsd:string'/>
         <xsd:element name='THIRD_PARTY_CHECK_AGENT_IND' type='xsd:string'/>
         <xsd:element name='POLICY_STATUS_ARRAY'>
          <xsd:complexType>
           <xsd:sequence>
            <xsd:element name='string' minOccurs='1' maxOccurs='20' type='xsd:string'/>
           </xsd:sequence>
          </xsd:complexType>
         </xsd:element>
         <xsd:element name='POLICY_STATUS_DATE'>
          <xsd:complexType>
           <xsd:sequence>
            <xsd:element name='string' minOccurs='1' maxOccurs='20' type='xsd:string'/>
           </xsd:sequence>
          </xsd:complexType>
         </xsd:element>
         <xsd:element name='POLICY_STATUS_USER_ID'>
          <xsd:complexType>
           <xsd:sequence>
            <xsd:element name='string' minOccurs='1' maxOccurs='20' type='xsd:string'/>
           </xsd:sequence>
          </xsd:complexType>
         </xsd:element>
         <xsd:element name='UNDERW_STATUS_CURRENT' type='xsd:string'/>
         <xsd:element name='UNDERW_STATUS_CURRENT_DATE' type='xsd:string'/>
         <xsd:element name='UNDERW_STATUS_ARRAY'>
          <xsd:complexType>
           <xsd:sequence>
            <xsd:element name='string' minOccurs='1' maxOccurs='20' type='xsd:string'/>
           </xsd:sequence>
          </xsd:complexType>
         </xsd:element>
         <xsd:element name='UNDERW_STATUS_DATE'>
          <xsd:complexType>
           <xsd:sequence>
            <xsd:element name='string' minOccurs='1' maxOccurs='20' type='xsd:string'/>
           </xsd:sequence>
          </xsd:complexType>
         </xsd:element>
         <xsd:element name='UNDERW_STATUS_USER_ID'>
          <xsd:complexType>
           <xsd:sequence>
            <xsd:element name='string' minOccurs='1' maxOccurs='20' type='xsd:string'/>
           </xsd:sequence>
          </xsd:complexType>
         </xsd:element>
         <xsd:element name='UNDERWRITTEN_IND' type='xsd:string'/>
         <xsd:element name='CONVERTED_BY' type='xsd:string'/>
         <xsd:element name='LIFE_CERT_IND' type='xsd:string'/>
         <xsd:element name='EFT_NUMBER' type='xsd:decimal'/>
         <xsd:element name='NFO_YEAR' type='xsd:string'/>
         <xsd:element name='NFO_OPT' type='xsd:string'/>
         <xsd:element name='ENTITY_EFFECTIVE_DATE' type='xsd:string'/>
         <xsd:element name='ENTITY_ENTRY_DATE' type='xsd:string'/>
         <xsd:element name='ENTITY_EFFECTIVE_DATE_9SCOMP' type='xsd:decimal'/>
         <xsd:element name='ENTITY_ENTRY_DATE_9SCOMP' type='xsd:decimal'/>
         <xsd:element name='ENTITY_EXP_DATE' type='xsd:string'/>
         <xsd:element name='BILLING_DATE_MMDD' type='xsd:decimal'/>
         <xsd:element name='BILLING_NOTICES_SENT' type='xsd:string'/>
         <xsd:element name='LAST_BILLED_DATE' type='xsd:string'/>
         <xsd:element name='LAST_PAID_DATE' type='xsd:string'/>
         <xsd:element name='SUSPENDED_MONEY_DATE' type='xsd:string'/>
         <xsd:element name='SUSPENDED_MONEY_AMOUNT' type='xsd:decimal'/>
         <xsd:element name='PROTESTED_MONEY_DATE' type='xsd:string'/>
         <xsd:element name='PROTESTED_MONEY_AMOUNT' type='xsd:decimal'/>
         <xsd:element name='CASH_VALUE_THIS_YEAR' type='xsd:decimal'/>
         <xsd:element name='CASH_VALUE_CALC_DATE' type='xsd:string'/>
         <xsd:element name='CHECK_ORDERED_IND' type='xsd:string'/>
         <xsd:element name='CHECK_ORDERED_DATE' type='xsd:string'/>
         <xsd:element name='LIFE_CHANGE_CODE' type='xsd:string'/>
         <xsd:element name='LIFE_CHANGE_DATE_YYYYMM' type='xsd:string'/>
         <xsd:element name='APL_IND' type='xsd:string'/>
         <xsd:element name='POLICY_STATUS_ALTERNATE' type='xsd:string'/>
         <xsd:element name='PAR_TYPE' type='xsd:string'/>
         <xsd:element name='NEXT_DUE_DATE' type='xsd:string'/>
         <xsd:element name='REINSURANCE_CODE' type='xsd:string'/>
         <xsd:element name='RIDER_PRODUCT_ID' type='xsd:string'/>
         <xsd:element name='IN_CARE_OF_NAME' type='xsd:string'/>
         <xsd:element name='NETWORK_ID' type='xsd:string'/>
         <xsd:element name='REPLACEMENT_POLICY_ID' type='xsd:decimal'/>
         <xsd:element name='HIPAA_IND' type='xsd:string'/>
         <xsd:element name='ASSOCIATION_CODE' type='xsd:string'/>
         <xsd:element name='HEALTH_IND' type='xsd:string'/>
         <xsd:element name='TPA_POLICY' type='xsd:string'/>
         <xsd:element name='FAMILY_TYPE_CODE' type='xsd:string'/>
         <xsd:element name='KEY_ADD_ADDRESS_TYPE' type='xsd:string'/>
         <xsd:element name='KEY_ADD_STREET_NUMBER' type='xsd:string'/>
         <xsd:element name='KEY_ADD_STREET_NAME' type='xsd:string'/>
         <xsd:element name='KEY_ADD_APARTMENT_NUMBER' type='xsd:string'/>
         <xsd:element name='KEY_ADD_PO_BOX' type='xsd:string'/>
         <xsd:element name='KEY_ADD_CITY' type='xsd:string'/>
         <xsd:element name='KEY_ADD_COUNTY' type='xsd:string'/>
         <xsd:element name='KEY_ADD_STATE' type='xsd:string'/>
         <xsd:element name='KEY_ADD_STATE_NUMBER' type='xsd:decimal'/>
         <xsd:element name='KEY_ADD_ZIP_5' type='xsd:string'/>
         <xsd:element name='KEY_ADD_ZIP_4' type='xsd:string'/>
         <xsd:element name='KEY_ADD_COUNTRY' type='xsd:string'/>
         <xsd:element name='KEY_ADD_SEARCH_ADDRESS' type='xsd:string'/>
         <xsd:element name='KEY_ADD_POSTAL_CODE' type='xsd:string'/>
         <xsd:element name='KEY_ADD_CONVERSION_IND' type='xsd:string'/>
         <xsd:element name='KEY_ADD_OVERRIDE_IND' type='xsd:string'/>
         <xsd:element name='KEY_ADD_ENTITY_ENTRY_DATE' type='xsd:string'/>
         <xsd:element name='KEY_ADD_ENTITY_ENTRY_DATE_9SCOMP' type='xsd:decimal'/>
         <xsd:element name='KEY_ADD_ENTITY_EFFECTIVE_DATE' type='xsd:string'/>
         <xsd:element name='KEY_ADD_ENTITY_EFFECTIVE_DATE_9S' type='xsd:decimal'/>
         <xsd:element name='KEY_ADD_CREATE_DATE_TIME' type='xsd:string'/>
         <xsd:element name='KEY_ADD_CREATE_USER_ID' type='xsd:string'/>
         <xsd:element name='KEY_ADD_CREATE_PGM' type='xsd:string'/>
         <xsd:element name='KEY_ADD_MAINT_DATE_TIME' type='xsd:string'/>
         <xsd:element name='KEY_ADD_MAINT_USER_ID' type='xsd:string'/>
         <xsd:element name='KEY_ADD_MAINT_PGM' type='xsd:string'/>
         <xsd:element name='BIL_ADD_ADDRESS_TYPE' type='xsd:string'/>
         <xsd:element name='BIL_ADD_STREET_NUMBER' type='xsd:string'/>
         <xsd:element name='BIL_ADD_STREET_NAME' type='xsd:string'/>
         <xsd:element name='BIL_ADD_APARTMENT_NUMBER' type='xsd:string'/>
         <xsd:element name='BIL_ADD_PO_BOX' type='xsd:string'/>
         <xsd:element name='BIL_ADD_CITY' type='xsd:string'/>
         <xsd:element name='BIL_ADD_COUNTY' type='xsd:string'/>
         <xsd:element name='BIL_ADD_STATE' type='xsd:string'/>
         <xsd:element name='BIL_ADD_STATE_NUMBER' type='xsd:decimal'/>
         <xsd:element name='BIL_ADD_ZIP_5' type='xsd:string'/>
         <xsd:element name='BIL_ADD_ZIP_4' type='xsd:string'/>
         <xsd:element name='BIL_ADD_COUNTRY' type='xsd:string'/>
         <xsd:element name='BIL_ADD_SEARCH_ADDRESS' type='xsd:string'/>
         <xsd:element name='BIL_ADD_POSTAL_CODE' type='xsd:string'/>
         <xsd:element name='BIL_ADD_CONVERSION_IND' type='xsd:string'/>
         <xsd:element name='BIL_ADD_OVERRIDE_IND' type='xsd:string'/>
         <xsd:element name='BIL_ADD_ENTITY_ENTRY_DATE' type='xsd:string'/>
         <xsd:element name='BIL_ADD_ENTITY_ENTRY_DATE_9SCOMP' type='xsd:decimal'/>
         <xsd:element name='BIL_ADD_ENTITY_EFFECTIVE_DATE' type='xsd:string'/>
         <xsd:element name='BIL_ADD_ENTITY_EFFECTIVE_DATE_9S' type='xsd:decimal'/>
         <xsd:element name='BIL_ADD_CREATE_DATE_TIME' type='xsd:string'/>
         <xsd:element name='BIL_ADD_CREATE_USER_ID' type='xsd:string'/>
         <xsd:element name='BIL_ADD_CREATE_PGM' type='xsd:string'/>
         <xsd:element name='BIL_ADD_MAINT_DATE_TIME' type='xsd:string'/>
         <xsd:element name='BIL_ADD_MAINT_USER_ID' type='xsd:string'/>
         <xsd:element name='BIL_ADD_MAINT_PGM' type='xsd:string'/>
         <xsd:element name='IPAC_POLICY_NUMBER' type='xsd:decimal'/>
         <xsd:element name='IPAC_AGENT_ID'>
          <xsd:complexType>
           <xsd:sequence>
            <xsd:element name='string' minOccurs='1' maxOccurs='4' type='xsd:string'/>
           </xsd:sequence>
          </xsd:complexType>
         </xsd:element>
         <xsd:element name='IPAC_AGENT_PROFILE'>
          <xsd:complexType>
           <xsd:sequence>
            <xsd:element name='string' minOccurs='1' maxOccurs='4' type='xsd:string'/>
           </xsd:sequence>
          </xsd:complexType>
         </xsd:element>
         <xsd:element name='IPAC_COMM_PERCENT'>
          <xsd:complexType>
           <xsd:sequence>
            <xsd:element name='decimal' minOccurs='1' maxOccurs='4' type='xsd:decimal'/>
           </xsd:sequence>
          </xsd:complexType>
         </xsd:element>
         <xsd:element name='IPAC_AGENT_TYPE'>
          <xsd:complexType>
           <xsd:sequence>
            <xsd:element name='string' minOccurs='1' maxOccurs='4' type='xsd:string'/>
           </xsd:sequence>
          </xsd:complexType>
         </xsd:element>
         <xsd:element name='IPAC_CPW_EFF_DATE'>
          <xsd:complexType>
           <xsd:sequence>
            <xsd:element name='decimal' minOccurs='1' maxOccurs='4' type='xsd:decimal'/>
           </xsd:sequence>
          </xsd:complexType>
         </xsd:element>
         <xsd:element name='IPAC_SERVICING_AGENCY' type='xsd:string'/>
         <xsd:element name='IPAC_SERVICING_AGENT' type='xsd:string'/>
         <xsd:element name='IPAC_SERVICING_PROFILE' type='xsd:string'/>
         <xsd:element name='IPAC_LCI_EFF_DATE' type='xsd:decimal'/>
         <xsd:element name='FILLER_R' type='xsd:string'/>
         <xsd:element name='DELIVERY_REQ_CREATE_DATE_TIME' type='xsd:string'/>
         <xsd:element name='DELIVERY_REQ_CREATE_USER_ID' type='xsd:string'/>
         <xsd:element name='DELIVERY_REQ_CREATE_PGM' type='xsd:string'/>
         <xsd:element name='DELIVERY_REQ_MAINT_DATE_TIME' type='xsd:string'/>
         <xsd:element name='DELIVERY_REQ_MAINT_USER_ID' type='xsd:string'/>
         <xsd:element name='DELIVERY_REQ_MAINT_PGM' type='xsd:string'/>
         <xsd:element name='DELIVERY_REQ_REQUEST_IND' type='xsd:string'/>
         <xsd:element name='DELIVERY_REQ_MAIL_DATE' type='xsd:string'/>
         <xsd:element name='DELIVERY_REQ_REISSUE_DATE'>
          <xsd:complexType>
           <xsd:sequence>
            <xsd:element name='string' minOccurs='1' maxOccurs='5' type='xsd:string'/>
           </xsd:sequence>
          </xsd:complexType>
         </xsd:element>
         <xsd:element name='DELIVERY_REQ_REISSUE_NUM'>
          <xsd:complexType>
           <xsd:sequence>
            <xsd:element name='decimal' minOccurs='1' maxOccurs='5' type='xsd:decimal'/>
           </xsd:sequence>
          </xsd:complexType>
         </xsd:element>
         <xsd:element name='AMENDMENT_PRINT_REQUEST_IND' type='xsd:string'/>
         <xsd:element name='AMENDMENT_RCVD_DATE'>
          <xsd:complexType>
           <xsd:sequence>
            <xsd:element name='string' minOccurs='1' maxOccurs='5' type='xsd:string'/>
           </xsd:sequence>
          </xsd:complexType>
         </xsd:element>
         <xsd:element name='AMENDMENT_SIG_IND' type='xsd:string'/>
         <xsd:element name='OTHER_FORM_PRINT_REQUEST_IND' type='xsd:string'/>
         <xsd:element name='FORM_NAME'>
          <xsd:complexType>
           <xsd:sequence>
            <xsd:element name='string' minOccurs='1' maxOccurs='5' type='xsd:string'/>
           </xsd:sequence>
          </xsd:complexType>
         </xsd:element>
         <xsd:element name='FORM_RCVD_DATE'>
          <xsd:complexType>
           <xsd:sequence>
            <xsd:element name='string' minOccurs='1' maxOccurs='5' type='xsd:string'/>
           </xsd:sequence>
          </xsd:complexType>
         </xsd:element>
         <xsd:element name='RIDER_PRINT_REQUEST_IND' type='xsd:string'/>
         <xsd:element name='AMOUNT_DUE_DESCRIPTION' type='xsd:string'/>
         <xsd:element name='AMENDMENT_PERSON_ID'>
          <xsd:complexType>
           <xsd:sequence>
            <xsd:element name='decimal' minOccurs='1' maxOccurs='15' type='xsd:decimal'/>
           </xsd:sequence>
          </xsd:complexType>
         </xsd:element>
         <xsd:element name='POST_TO_WEB_IND' type='xsd:string'/>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
  </xsd:schema>
 </types>
 <message name='ACPLYMW1SoapIn'>
  <part name='parameters' element='tns:ACPLYMW1'/>
 </message>
 <message name='ACPLYMW1SoapOut'>
  <part name='parameters' element='tns:ACPLYMW1Response'/>
 </message>
 <portType name='IASLIBPort'>
  <operation name='ACPLYMW1'>
   <input message='tns:ACPLYMW1SoapIn'/>
   <output message='tns:ACPLYMW1SoapOut'/>
  </operation>
 </portType>
 <binding name='IASLIBSoapBinding' type='tns:IASLIBPort'>
  <soap:binding style='document' transport='http://schemas.xmlsoap.org/soap/http'/>
  <operation name='ACPLYMW1'>
   <soap:operation soapAction='ACPLYMW1'/>
   <input>
    <soap:body use='literal'/>
   </input>
   <output>
    <soap:body use='literal'/>
   </output>
  </operation>
 </binding>
 <service name='GetPolicyInfo'>
  <port name='IASLIBPort' binding='tns:IASLIBSoapBinding'>
   <soap:address location='http://etbtest:8080/EntireX-ETBTEST/xmlrt'/>
  </port>
 </service>
</definitions>
