wsdls/Letter.wsdl

<?xml version='1.0' encoding='utf-8'?>
<!-- Generated by EntireX Communicator Web Service Plug-in , Version 7.3.3.000 -->
<!-- WSDL from IDL generator, Version 7.3.3.000 on Nov 6, 2008 11:20:02 AM -->
<definitions name='IASLIB' targetNamespace='urn:com-softwareag-entirex-rpc:IASLIB' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:SOAP-ENC='http://schemas.xmlsoap.org/soap/encoding/' xmlns:tns='urn:com-softwareag-entirex-rpc:IASLIB'>
 <types>
  <xsd:schema targetNamespace='urn:com-softwareag-entirex-rpc:IASLIB'>
   <xsd:element name='MUELTMW'>
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name='IN_PARMS'>
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name='ACTION' type='xsd:string'/>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
      <xsd:element name='INOUT_PARMS'>
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name='LOG_COUNTER' type='xsd:decimal'/>
         <xsd:element name='USER_ID' type='xsd:string'/>
         <xsd:element name='POLICY_ID' type='xsd:decimal'/>
         <xsd:element name='EVENT_ID' type='xsd:decimal'/>
         <xsd:element name='STD_EVENT_ID' type='xsd:string'/>
         <xsd:element name='FREE_DESCRIPTION' type='xsd:string'/>
         <xsd:element name='RECIPIENT_PERSON_ID' type='xsd:decimal'/>
         <xsd:element name='RECIPIENT_SEARCH_NAME' type='xsd:string'/>
         <xsd:element name='EVENT_STATUS_CURRENT' type='xsd:string'/>
         <xsd:element name='SECOND_REQUEST_IND' type='xsd:string'/>
         <xsd:element name='DATE_COMPLETED_YYYYMMDD' type='xsd:decimal'/>
         <xsd:element name='MEMO_ID' type='xsd:string'/>
         <xsd:element name='ATTACHMENT_IND' type='xsd:string'/>
         <xsd:element name='TEXT'>
          <xsd:complexType>
           <xsd:sequence>
            <xsd:element name='string' minOccurs='1' maxOccurs='60' type='xsd:string'/>
           </xsd:sequence>
          </xsd:complexType>
         </xsd:element>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name='MUELTMWResponse'>
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name='MSG_DATA'>
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name='RETURN_CODE' type='xsd:string'/>
         <xsd:element name='MSG_NR' type='xsd:decimal'/>
         <xsd:element name='MSG_TEXT' type='xsd:string'/>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
      <xsd:element name='INOUT_PARMS1'>
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name='LOG_COUNTER1' type='xsd:decimal'/>
         <xsd:element name='USER_ID1' type='xsd:string'/>
         <xsd:element name='POLICY_ID1' type='xsd:decimal'/>
         <xsd:element name='EVENT_ID1' type='xsd:decimal'/>
         <xsd:element name='STD_EVENT_ID1' type='xsd:string'/>
         <xsd:element name='FREE_DESCRIPTION1' type='xsd:string'/>
         <xsd:element name='RECIPIENT_PERSON_ID1' type='xsd:decimal'/>
         <xsd:element name='RECIPIENT_SEARCH_NAME1' type='xsd:string'/>
         <xsd:element name='EVENT_STATUS_CURRENT1' type='xsd:string'/>
         <xsd:element name='SECOND_REQUEST_IND1' type='xsd:string'/>
         <xsd:element name='DATE_COMPLETED_YYYYMMDD1' type='xsd:decimal'/>
         <xsd:element name='MEMO_ID1' type='xsd:string'/>
         <xsd:element name='ATTACHMENT_IND1' type='xsd:string'/>
         <xsd:element name='TEXT1'>
          <xsd:complexType>
           <xsd:sequence>
            <xsd:element name='string' minOccurs='1' maxOccurs='60' type='xsd:string'/>
           </xsd:sequence>
          </xsd:complexType>
         </xsd:element>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
      <xsd:element name='OUT_PARMS'>
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name='DATE_CREATED' type='xsd:string'/>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
  </xsd:schema>
 </types>
 <message name='MUELTMWSoapIn'>
  <part name='parameters' element='tns:MUELTMW'/>
 </message>
 <message name='MUELTMWSoapOut'>
  <part name='parameters' element='tns:MUELTMWResponse'/>
 </message>
 <portType name='IASLIBPort'>
  <operation name='MUELTMW'>
   <input message='tns:MUELTMWSoapIn'/>
   <output message='tns:MUELTMWSoapOut'/>
  </operation>
 </portType>
 <binding name='IASLIBSoapBinding' type='tns:IASLIBPort'>
  <soap:binding style='document' transport='http://schemas.xmlsoap.org/soap/http'/>
  <operation name='MUELTMW'>
   <soap:operation soapAction='MUELTMW'/>
   <input>
    <soap:body use='literal'/>
   </input>
   <output>
    <soap:body use='literal'/>
   </output>
  </operation>
 </binding>
 <service name='Letter'>
  <port name='IASLIBPort' binding='tns:IASLIBSoapBinding'>
   <soap:address location='http://etbprod:8080/EntireX-ETBPROD/xmlrt'/>
  </port>
 </service>
</definitions>
