wsdls/MaximumCodes.wsdl

<?xml version='1.0' encoding='utf-8'?>
<!-- Generated by EntireX Communicator Web Service Plug-in , Version 7.3.3.000 -->
<!-- WSDL from IDL generator, Version 7.3.3.000 on Oct 7, 2008 11:34:44 AM -->
<definitions name='ASCLIB' targetNamespace='urn:com-softwareag-entirex-rpc:ASCLIB' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:SOAP-ENC='http://schemas.xmlsoap.org/soap/encoding/' xmlns:tns='urn:com-softwareag-entirex-rpc:ASCLIB'>
 <types>
  <xsd:schema targetNamespace='urn:com-softwareag-entirex-rpc:ASCLIB'>
   <xsd:element name='ASMAXXW'>
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name='STD_IN'>
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name='API_VERS' type='xsd:string'/>
         <xsd:element name='SCHEMA_VERS' type='xsd:string'/>
         <xsd:element name='ENVIRONMENT' type='xsd:string'/>
         <xsd:element name='LOGICAL_USER' type='xsd:string'/>
         <xsd:element name='SENDER_COMP' type='xsd:string'/>
         <xsd:element name='SENDER_TASK' type='xsd:string'/>
         <xsd:element name='SENDER_GUID' type='xsd:string'/>
         <xsd:element name='SENDER_TIME' type='xsd:dateTime'/>
         <xsd:element name='SENDER_LANG' type='xsd:string'/>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
      <xsd:element name='ASMAX_IN'>
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name='FUNCTION' type='xsd:string'/>
         <xsd:element name='REQUEST_COUNT' type='xsd:decimal'/>
         <xsd:element name='GET_KEY'>
          <xsd:complexType>
           <xsd:sequence>
            <xsd:element name='GT_RISK_CATEGORY_CODE' type='xsd:string'/>
            <xsd:element name='GT_MAXIMUM_CODE' type='xsd:string'/>
           </xsd:sequence>
          </xsd:complexType>
         </xsd:element>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
      <xsd:element name='ASMAX_INOUT'>
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name='LAST_KEY_A' type='xsd:string'/>
         <xsd:element name='LAST_KEY_D' type='xsd:string'/>
         <xsd:element name='LAST_ISN_A' type='xsd:decimal'/>
         <xsd:element name='LAST_ISN_D' type='xsd:decimal'/>
         <xsd:element name='SCROLL' type='xsd:string'/>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name='ASMAXXWResponse'>
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name='STD_OUT'>
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name='RETURN_CODE' type='xsd:string'/>
         <xsd:element name='MESSAGE_NBR' type='xsd:decimal'/>
         <xsd:element name='MESSAGE_TEXT' type='xsd:string'/>
         <xsd:element name='RECEIVE_GUID' type='xsd:string'/>
         <xsd:element name='RECEIVE_TIME' type='xsd:dateTime'/>
         <xsd:element name='ERROR_FIELD' type='xsd:string'/>
         <xsd:element name='ERROR_INDEX1' type='xsd:decimal'/>
         <xsd:element name='ERROR_INDEX2' type='xsd:decimal'/>
         <xsd:element name='ERROR_INDEX3' type='xsd:decimal'/>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
      <xsd:element name='ASMAX_INOUT1'>
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name='LAST_KEY_A1' type='xsd:string'/>
         <xsd:element name='LAST_KEY_D1' type='xsd:string'/>
         <xsd:element name='LAST_ISN_A1' type='xsd:decimal'/>
         <xsd:element name='LAST_ISN_D1' type='xsd:decimal'/>
         <xsd:element name='SCROLL1' type='xsd:string'/>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
      <xsd:element name='ASMAX_OUT'>
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name='MORE_DATA' type='xsd:string'/>
         <xsd:element name='RETURN_COUNT' type='xsd:decimal'/>
         <xsd:element name='ASMAXXVs'>
          <xsd:complexType>
           <xsd:sequence>
            <xsd:element name='ASMAXXV' minOccurs='1' maxOccurs='10'>
             <xsd:complexType>
              <xsd:sequence>
               <xsd:element name='RISK_CATEGORY_CODE' type='xsd:string'/>
               <xsd:element name='MAXIMUM_CODE' type='xsd:string'/>
               <xsd:element name='PPO_POS_IND' type='xsd:string'/>
               <xsd:element name='DESCRIPTION' type='xsd:string'/>
               <xsd:element name='MAXIMUM_AMOUNT_DATA'>
                <xsd:complexType>
                 <xsd:sequence>
                  <xsd:element name='COVERAGE_FAMILY_UNIT_CODE'>
                   <xsd:complexType>
                    <xsd:sequence>
                     <xsd:element name='string' minOccurs='1' maxOccurs='40' type='xsd:string'/>
                    </xsd:sequence>
                   </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='TIME_PERIOD_CODE'>
                   <xsd:complexType>
                    <xsd:sequence>
                     <xsd:element name='string' minOccurs='1' maxOccurs='40' type='xsd:string'/>
                    </xsd:sequence>
                   </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='OUT_NETW_MAX_QUANTITY'>
                   <xsd:complexType>
                    <xsd:sequence>
                     <xsd:element name='decimal' minOccurs='1' maxOccurs='40' type='xsd:decimal'/>
                    </xsd:sequence>
                   </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='OUT_NETW_MAX_QUANTITY_UNIT_CODE'>
                   <xsd:complexType>
                    <xsd:sequence>
                     <xsd:element name='string' minOccurs='1' maxOccurs='40' type='xsd:string'/>
                    </xsd:sequence>
                   </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='IN_NETW_MAX_QUANTITY'>
                   <xsd:complexType>
                    <xsd:sequence>
                     <xsd:element name='decimal' minOccurs='1' maxOccurs='40' type='xsd:decimal'/>
                    </xsd:sequence>
                   </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='IN_NETW_MAX_QUANTITY_UNIT_CODE'>
                   <xsd:complexType>
                    <xsd:sequence>
                     <xsd:element name='string' minOccurs='1' maxOccurs='40' type='xsd:string'/>
                    </xsd:sequence>
                   </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='EPO_MAX_QUANTITY'>
                   <xsd:complexType>
                    <xsd:sequence>
                     <xsd:element name='decimal' minOccurs='1' maxOccurs='40' type='xsd:decimal'/>
                    </xsd:sequence>
                   </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='EPO_MAX_QUANTITY_UNIT_CODE'>
                   <xsd:complexType>
                    <xsd:sequence>
                     <xsd:element name='string' minOccurs='1' maxOccurs='40' type='xsd:string'/>
                    </xsd:sequence>
                   </xsd:complexType>
                  </xsd:element>
                 </xsd:sequence>
                </xsd:complexType>
               </xsd:element>
              </xsd:sequence>
             </xsd:complexType>
            </xsd:element>
           </xsd:sequence>
          </xsd:complexType>
         </xsd:element>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
  </xsd:schema>
 </types>
 <message name='ASMAXXWSoapIn'>
  <part name='parameters' element='tns:ASMAXXW'/>
 </message>
 <message name='ASMAXXWSoapOut'>
  <part name='parameters' element='tns:ASMAXXWResponse'/>
 </message>
 <portType name='ASCLIBPort'>
  <operation name='ASMAXXW'>
   <input message='tns:ASMAXXWSoapIn'/>
   <output message='tns:ASMAXXWSoapOut'/>
  </operation>
 </portType>
 <binding name='ASCLIBSoapBinding' type='tns:ASCLIBPort'>
  <soap:binding style='document' transport='http://schemas.xmlsoap.org/soap/http'/>
  <operation name='ASMAXXW'>
   <soap:operation soapAction='ASMAXXW'/>
   <input>
    <soap:body use='literal'/>
   </input>
   <output>
    <soap:body use='literal'/>
   </output>
  </operation>
 </binding>
 <service name='MaximumCodes'>
  <port name='ASCLIBPort' binding='tns:ASCLIBSoapBinding'>
   <soap:address location='http://etbtest:8080/EntireX-ETBTEST/xmlrt'/>
  </port>
 </service>
</definitions>
