wsdls/MemoText.wsdl

<?xml version='1.0' encoding='utf-8'?>
<!-- Generated by EntireX Communicator Web Service Plug-in , Version 7.3.3.000 -->
<!-- WSDL from IDL generator, Version 7.3.3.000 on Aug 5, 2008 10:52:13 AM -->
<definitions name='IASLIB' targetNamespace='urn:com-softwareag-entirex-rpc:IASLIB' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:SOAP-ENC='http://schemas.xmlsoap.org/soap/encoding/' xmlns:tns='urn:com-softwareag-entirex-rpc:IASLIB'>
 <types>
  <xsd:schema targetNamespace='urn:com-softwareag-entirex-rpc:IASLIB'>
   <xsd:element name='MUMEMMW'>
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name='IN_PARM'>
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name='GET_MEMO_ID' type='xsd:string'/>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name='MUMEMMWResponse'>
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name='MSG_DATA'>
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name='RETURN_CODE' type='xsd:string'/>
         <xsd:element name='MESSAGE_NR' type='xsd:decimal'/>
         <xsd:element name='MESSAGE_TEXT' type='xsd:string'/>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
      <xsd:element name='OUT_PARM'>
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name='APPLICATION_FORM_ID_MEMO' type='xsd:string'/>
         <xsd:element name='TEXT'>
          <xsd:complexType>
           <xsd:sequence>
            <xsd:element name='string' minOccurs='1' maxOccurs='60' type='xsd:string'/>
           </xsd:sequence>
          </xsd:complexType>
         </xsd:element>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
  </xsd:schema>
 </types>
 <message name='MUMEMMWSoapIn'>
  <part name='parameters' element='tns:MUMEMMW'/>
 </message>
 <message name='MUMEMMWSoapOut'>
  <part name='parameters' element='tns:MUMEMMWResponse'/>
 </message>
 <portType name='IASLIBPort'>
  <operation name='MUMEMMW'>
   <input message='tns:MUMEMMWSoapIn'/>
   <output message='tns:MUMEMMWSoapOut'/>
  </operation>
 </portType>
 <binding name='IASLIBSoapBinding' type='tns:IASLIBPort'>
  <soap:binding style='document' transport='http://schemas.xmlsoap.org/soap/http'/>
  <operation name='MUMEMMW'>
   <soap:operation soapAction='MUMEMMW'/>
   <input>
    <soap:body use='literal'/>
   </input>
   <output>
    <soap:body use='literal'/>
   </output>
  </operation>
 </binding>
 <service name='MemoText'>
  <port name='IASLIBPort' binding='tns:IASLIBSoapBinding'>
   <soap:address location='http://etbprod:8080/EntireX-ETBPROD/xmlrt'/>
  </port>
 </service>
</definitions>
