wsdls/PolicyPersonCovMaintList.wsdl

<?xml version='1.0' encoding='utf-8'?>
<!-- Generated by EntireX Communicator Web Service Plug-in , Version 7.3.3.000 -->
<!-- WSDL from IDL generator, Version 7.3.3.000 on Aug 5, 2008 11:44:37 AM -->
<definitions name='IASLIB' targetNamespace='urn:com-softwareag-entirex-rpc:IASLIB' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:SOAP-ENC='http://schemas.xmlsoap.org/soap/encoding/' xmlns:tns='urn:com-softwareag-entirex-rpc:IASLIB'>
 <types>
  <xsd:schema targetNamespace='urn:com-softwareag-entirex-rpc:IASLIB'>
   <xsd:element name='IAPPCBW'>
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name='INOUT_PARM'>
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name='MORE_DATA' type='xsd:string'/>
         <xsd:element name='START_COVERAGE_CODE' type='xsd:string'/>
         <xsd:element name='POLICY_ID' type='xsd:decimal'/>
         <xsd:element name='PERSON_ID' type='xsd:decimal'/>
         <xsd:element name='DISPLAY_DATE' type='xsd:string'/>
         <xsd:element name='COVERAGE_CODE'>
          <xsd:complexType>
           <xsd:sequence>
            <xsd:element name='string' minOccurs='1' maxOccurs='20' type='xsd:string'/>
           </xsd:sequence>
          </xsd:complexType>
         </xsd:element>
         <xsd:element name='ANNUAL_PREM_AMT'>
          <xsd:complexType>
           <xsd:sequence>
            <xsd:element name='decimal' minOccurs='1' maxOccurs='20' type='xsd:decimal'/>
           </xsd:sequence>
          </xsd:complexType>
         </xsd:element>
         <xsd:element name='SUB_STANDARD_RISK_CODE'>
          <xsd:complexType>
           <xsd:sequence>
            <xsd:element name='string' minOccurs='1' maxOccurs='20' type='xsd:string'/>
           </xsd:sequence>
          </xsd:complexType>
         </xsd:element>
         <xsd:element name='ANNUAL_PERM_EXTRA_PREM_AMT'>
          <xsd:complexType>
           <xsd:sequence>
            <xsd:element name='decimal' minOccurs='1' maxOccurs='20' type='xsd:decimal'/>
           </xsd:sequence>
          </xsd:complexType>
         </xsd:element>
         <xsd:element name='START_DATE'>
          <xsd:complexType>
           <xsd:sequence>
            <xsd:element name='string' minOccurs='1' maxOccurs='20' type='xsd:string'/>
           </xsd:sequence>
          </xsd:complexType>
         </xsd:element>
         <xsd:element name='END_DATE'>
          <xsd:complexType>
           <xsd:sequence>
            <xsd:element name='string' minOccurs='1' maxOccurs='20' type='xsd:string'/>
           </xsd:sequence>
          </xsd:complexType>
         </xsd:element>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name='IAPPCBWResponse'>
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name='MESSAGE_INFO'>
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name='RETURN_CODE' type='xsd:string'/>
         <xsd:element name='MESSAGE_NBR' type='xsd:decimal'/>
         <xsd:element name='MESSAGE_TEXT' type='xsd:string'/>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
      <xsd:element name='INOUT_PARM1'>
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name='MORE_DATA1' type='xsd:string'/>
         <xsd:element name='START_COVERAGE_CODE1' type='xsd:string'/>
         <xsd:element name='POLICY_ID1' type='xsd:decimal'/>
         <xsd:element name='PERSON_ID1' type='xsd:decimal'/>
         <xsd:element name='DISPLAY_DATE1' type='xsd:string'/>
         <xsd:element name='COVERAGE_CODE1'>
          <xsd:complexType>
           <xsd:sequence>
            <xsd:element name='string' minOccurs='1' maxOccurs='20' type='xsd:string'/>
           </xsd:sequence>
          </xsd:complexType>
         </xsd:element>
         <xsd:element name='ANNUAL_PREM_AMT1'>
          <xsd:complexType>
           <xsd:sequence>
            <xsd:element name='decimal' minOccurs='1' maxOccurs='20' type='xsd:decimal'/>
           </xsd:sequence>
          </xsd:complexType>
         </xsd:element>
         <xsd:element name='SUB_STANDARD_RISK_CODE1'>
          <xsd:complexType>
           <xsd:sequence>
            <xsd:element name='string' minOccurs='1' maxOccurs='20' type='xsd:string'/>
           </xsd:sequence>
          </xsd:complexType>
         </xsd:element>
         <xsd:element name='ANNUAL_PERM_EXTRA_PREM_AMT1'>
          <xsd:complexType>
           <xsd:sequence>
            <xsd:element name='decimal' minOccurs='1' maxOccurs='20' type='xsd:decimal'/>
           </xsd:sequence>
          </xsd:complexType>
         </xsd:element>
         <xsd:element name='START_DATE1'>
          <xsd:complexType>
           <xsd:sequence>
            <xsd:element name='string' minOccurs='1' maxOccurs='20' type='xsd:string'/>
           </xsd:sequence>
          </xsd:complexType>
         </xsd:element>
         <xsd:element name='END_DATE1'>
          <xsd:complexType>
           <xsd:sequence>
            <xsd:element name='string' minOccurs='1' maxOccurs='20' type='xsd:string'/>
           </xsd:sequence>
          </xsd:complexType>
         </xsd:element>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
      <xsd:element name='OUT_PARM'>
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name='POLICY_STATUS' type='xsd:string'/>
         <xsd:element name='POLICY_PERSON_STATUS' type='xsd:string'/>
         <xsd:element name='POLICY_STATUS_EFF_DATE' type='xsd:string'/>
         <xsd:element name='PERSON_STATUS_EFF_DATE' type='xsd:string'/>
         <xsd:element name='NAME' type='xsd:string'/>
         <xsd:element name='MODE' type='xsd:string'/>
         <xsd:element name='TOTAL_PREMIUM'>
          <xsd:complexType>
           <xsd:sequence>
            <xsd:element name='decimal' minOccurs='1' maxOccurs='20' type='xsd:decimal'/>
           </xsd:sequence>
          </xsd:complexType>
         </xsd:element>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
  </xsd:schema>
 </types>
 <message name='IAPPCBWSoapIn'>
  <part name='parameters' element='tns:IAPPCBW'/>
 </message>
 <message name='IAPPCBWSoapOut'>
  <part name='parameters' element='tns:IAPPCBWResponse'/>
 </message>
 <portType name='IASLIBPort'>
  <operation name='IAPPCBW'>
   <input message='tns:IAPPCBWSoapIn'/>
   <output message='tns:IAPPCBWSoapOut'/>
  </operation>
 </portType>
 <binding name='IASLIBSoapBinding' type='tns:IASLIBPort'>
  <soap:binding style='document' transport='http://schemas.xmlsoap.org/soap/http'/>
  <operation name='IAPPCBW'>
   <soap:operation soapAction='IAPPCBW'/>
   <input>
    <soap:body use='literal'/>
   </input>
   <output>
    <soap:body use='literal'/>
   </output>
  </operation>
 </binding>
 <service name='PolicyPersonCovMaintList'>
  <port name='IASLIBPort' binding='tns:IASLIBSoapBinding'>
   <soap:address location='http://etbprod:8080/EntireX-ETBPROD/xmlrt'/>
  </port>
 </service>
</definitions>
