wsdls/PolicyPersonMaintList.wsdl

<?xml version='1.0' encoding='utf-8'?>
<!-- Generated by EntireX Communicator Web Service Plug-in , Version 7.3.3.000 -->
<!-- WSDL from IDL generator, Version 7.3.3.000 on Aug 5, 2008 11:51:40 AM -->
<definitions name='IASLIB' targetNamespace='urn:com-softwareag-entirex-rpc:IASLIB' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:SOAP-ENC='http://schemas.xmlsoap.org/soap/encoding/' xmlns:tns='urn:com-softwareag-entirex-rpc:IASLIB'>
 <types>
  <xsd:schema targetNamespace='urn:com-softwareag-entirex-rpc:IASLIB'>
   <xsd:element name='ACCPEBW'>
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name='INOUT_PARM'>
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name='MORE_DATA' type='xsd:string'/>
         <xsd:element name='START_PERSON_ID' type='xsd:decimal'/>
         <xsd:element name='POLICY_ID' type='xsd:decimal'/>
         <xsd:element name='PP_START-DATE' type='xsd:string'/>
         <xsd:element name='LINEs'>
          <xsd:complexType>
           <xsd:sequence>
            <xsd:element name='LINE' minOccurs='1' maxOccurs='20'>
             <xsd:complexType>
              <xsd:sequence>
               <xsd:element name='POLICY_PERSON_TYPE_CURRENT'>
                <xsd:complexType>
                 <xsd:sequence>
                  <xsd:element name='string' minOccurs='1' maxOccurs='5' type='xsd:string'/>
                 </xsd:sequence>
                </xsd:complexType>
               </xsd:element>
               <xsd:element name='PERSON_STATUS_IND' type='xsd:string'/>
               <xsd:element name='SMOKER_IND' type='xsd:string'/>
              </xsd:sequence>
             </xsd:complexType>
            </xsd:element>
           </xsd:sequence>
          </xsd:complexType>
         </xsd:element>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name='ACCPEBWResponse'>
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name='MSG_INFO'>
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name='RETURN_CODE' type='xsd:string'/>
         <xsd:element name='MESSAGE_NBR' type='xsd:decimal'/>
         <xsd:element name='MESSAGE_TEXT' type='xsd:string'/>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
      <xsd:element name='INOUT_PARM1'>
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name='MORE_DATA1' type='xsd:string'/>
         <xsd:element name='START_PERSON_ID1' type='xsd:decimal'/>
         <xsd:element name='POLICY_ID1' type='xsd:decimal'/>
         <xsd:element name='PP_START-DATE1' type='xsd:string'/>
         <xsd:element name='LINEs'>
          <xsd:complexType>
           <xsd:sequence>
            <xsd:element name='LINE1' minOccurs='1' maxOccurs='20'>
             <xsd:complexType>
              <xsd:sequence>
               <xsd:element name='POLICY_PERSON_TYPE_CURRENT1'>
                <xsd:complexType>
                 <xsd:sequence>
                  <xsd:element name='string' minOccurs='1' maxOccurs='5' type='xsd:string'/>
                 </xsd:sequence>
                </xsd:complexType>
               </xsd:element>
               <xsd:element name='PERSON_STATUS_IND1' type='xsd:string'/>
               <xsd:element name='SMOKER_IND1' type='xsd:string'/>
              </xsd:sequence>
             </xsd:complexType>
            </xsd:element>
           </xsd:sequence>
          </xsd:complexType>
         </xsd:element>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
      <xsd:element name='OUT_PARM'>
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name='PERSON_ID'>
          <xsd:complexType>
           <xsd:sequence>
            <xsd:element name='decimal' minOccurs='1' maxOccurs='20' type='xsd:decimal'/>
           </xsd:sequence>
          </xsd:complexType>
         </xsd:element>
         <xsd:element name='PERSON_SEARCH_NAME'>
          <xsd:complexType>
           <xsd:sequence>
            <xsd:element name='string' minOccurs='1' maxOccurs='20' type='xsd:string'/>
           </xsd:sequence>
          </xsd:complexType>
         </xsd:element>
         <xsd:element name='PERSON_LEVEL_IND'>
          <xsd:complexType>
           <xsd:sequence>
            <xsd:element name='string' minOccurs='1' maxOccurs='20' type='xsd:string'/>
           </xsd:sequence>
          </xsd:complexType>
         </xsd:element>
         <xsd:element name='PERSON_STATUS'>
          <xsd:complexType>
           <xsd:sequence>
            <xsd:element name='string' minOccurs='1' maxOccurs='20' type='xsd:string'/>
           </xsd:sequence>
          </xsd:complexType>
         </xsd:element>
         <xsd:element name='PERSON_STATUS_START_DATE'>
          <xsd:complexType>
           <xsd:sequence>
            <xsd:element name='string' minOccurs='1' maxOccurs='20' type='xsd:string'/>
           </xsd:sequence>
          </xsd:complexType>
         </xsd:element>
         <xsd:element name='RIDER_IND'>
          <xsd:complexType>
           <xsd:sequence>
            <xsd:element name='string' minOccurs='1' maxOccurs='20' type='xsd:string'/>
           </xsd:sequence>
          </xsd:complexType>
         </xsd:element>
         <xsd:element name='CHECK_CONDITION' type='xsd:string'/>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
  </xsd:schema>
 </types>
 <message name='ACCPEBWSoapIn'>
  <part name='parameters' element='tns:ACCPEBW'/>
 </message>
 <message name='ACCPEBWSoapOut'>
  <part name='parameters' element='tns:ACCPEBWResponse'/>
 </message>
 <portType name='IASLIBPort'>
  <operation name='ACCPEBW'>
   <input message='tns:ACCPEBWSoapIn'/>
   <output message='tns:ACCPEBWSoapOut'/>
  </operation>
 </portType>
 <binding name='IASLIBSoapBinding' type='tns:IASLIBPort'>
  <soap:binding style='document' transport='http://schemas.xmlsoap.org/soap/http'/>
  <operation name='ACCPEBW'>
   <soap:operation soapAction='ACCPEBW'/>
   <input>
    <soap:body use='literal'/>
   </input>
   <output>
    <soap:body use='literal'/>
   </output>
  </operation>
 </binding>
 <service name='POlicyPersonMaintList'>
  <port name='IASLIBPort' binding='tns:IASLIBSoapBinding'>
   <soap:address location='http://etbprod:8080/EntireX-ETBPROD/xmlrt'/>
  </port>
 </service>
</definitions>
