wsdls/PolicyPersonCovMaint.wsdl

<?xml version='1.0' encoding='utf-8'?>
<!-- Generated by EntireX Communicator Web Service Plug-in , Version 7.3.3.000 -->
<!-- WSDL from IDL generator, Version 7.3.3.000 on Nov 6, 2008 11:35:05 AM -->
<definitions name='IASLIB' targetNamespace='urn:com-softwareag-entirex-rpc:IASLIB' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:SOAP-ENC='http://schemas.xmlsoap.org/soap/encoding/' xmlns:tns='urn:com-softwareag-entirex-rpc:IASLIB'>
 <types>
  <xsd:schema targetNamespace='urn:com-softwareag-entirex-rpc:IASLIB'>
   <xsd:element name='IAPPCMW'>
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name='IN_PARM'>
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name='ACTION' type='xsd:string'/>
         <xsd:element name='START_DATE' type='xsd:string'/>
         <xsd:element name='END_DATE' type='xsd:string'/>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
      <xsd:element name='INOUT_PARM'>
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name='LOG_COUNTER' type='xsd:decimal'/>
         <xsd:element name='USER_ID' type='xsd:string'/>
         <xsd:element name='POLICY_ID' type='xsd:decimal'/>
         <xsd:element name='PERSON_ID' type='xsd:decimal'/>
         <xsd:element name='DISPLAY_DATE' type='xsd:string'/>
         <xsd:element name='COVERAGE_CODE' type='xsd:string'/>
         <xsd:element name='SUB_STANDARD_RISK_CODE' type='xsd:string'/>
         <xsd:element name='SS_CCODE_TIME_PERIOD' type='xsd:string'/>
         <xsd:element name='CONDITION_CODE'>
          <xsd:complexType>
           <xsd:sequence>
            <xsd:element name='string' minOccurs='1' maxOccurs='4' type='xsd:string'/>
           </xsd:sequence>
          </xsd:complexType>
         </xsd:element>
         <xsd:element name='CONDITION_TEXT'>
          <xsd:complexType>
           <xsd:sequence>
            <xsd:element name='string' minOccurs='1' maxOccurs='4' type='xsd:string'/>
           </xsd:sequence>
          </xsd:complexType>
         </xsd:element>
         <xsd:element name='SUB_EFF_DATE' type='xsd:decimal'/>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name='IAPPCMWResponse'>
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name='MESSAGE_INFO'>
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name='RETURN_CODE' type='xsd:string'/>
         <xsd:element name='MESSAGE_NBR' type='xsd:decimal'/>
         <xsd:element name='MESSAGE_TEXT' type='xsd:string'/>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
      <xsd:element name='INOUT_PARM1'>
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name='LOG_COUNTER1' type='xsd:decimal'/>
         <xsd:element name='USER_ID1' type='xsd:string'/>
         <xsd:element name='POLICY_ID1' type='xsd:decimal'/>
         <xsd:element name='PERSON_ID1' type='xsd:decimal'/>
         <xsd:element name='DISPLAY_DATE1' type='xsd:string'/>
         <xsd:element name='COVERAGE_CODE1' type='xsd:string'/>
         <xsd:element name='SUB_STANDARD_RISK_CODE1' type='xsd:string'/>
         <xsd:element name='SS_CCODE_TIME_PERIOD1' type='xsd:string'/>
         <xsd:element name='CONDITION_CODE1'>
          <xsd:complexType>
           <xsd:sequence>
            <xsd:element name='string' minOccurs='1' maxOccurs='4' type='xsd:string'/>
           </xsd:sequence>
          </xsd:complexType>
         </xsd:element>
         <xsd:element name='CONDITION_TEXT1'>
          <xsd:complexType>
           <xsd:sequence>
            <xsd:element name='string' minOccurs='1' maxOccurs='4' type='xsd:string'/>
           </xsd:sequence>
          </xsd:complexType>
         </xsd:element>
         <xsd:element name='SUB_EFF_DATE1' type='xsd:decimal'/>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
      <xsd:element name='OUT_PARM'>
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name='POLICY_STATUS' type='xsd:string'/>
         <xsd:element name='PERSON_STATUS' type='xsd:string'/>
         <xsd:element name='STATUS_EFF_DATE' type='xsd:string'/>
         <xsd:element name='PERSON_STATUS_EFF_DATE' type='xsd:string'/>
         <xsd:element name='PERSON_NAME' type='xsd:string'/>
         <xsd:element name='NEXT_DUE_DATE' type='xsd:string'/>
         <xsd:element name='SUB_EXT_DATE' type='xsd:string'/>
         <xsd:element name='REQ_EFF_DATE' type='xsd:string'/>
         <xsd:element name='MODE' type='xsd:string'/>
         <xsd:element name='POLICY_ISSUED' type='xsd:string'/>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
  </xsd:schema>
 </types>
 <message name='IAPPCMWSoapIn'>
  <part name='parameters' element='tns:IAPPCMW'/>
 </message>
 <message name='IAPPCMWSoapOut'>
  <part name='parameters' element='tns:IAPPCMWResponse'/>
 </message>
 <portType name='IASLIBPort'>
  <operation name='IAPPCMW'>
   <input message='tns:IAPPCMWSoapIn'/>
   <output message='tns:IAPPCMWSoapOut'/>
  </operation>
 </portType>
 <binding name='IASLIBSoapBinding' type='tns:IASLIBPort'>
  <soap:binding style='document' transport='http://schemas.xmlsoap.org/soap/http'/>
  <operation name='IAPPCMW'>
   <soap:operation soapAction='IAPPCMW'/>
   <input>
    <soap:body use='literal'/>
   </input>
   <output>
    <soap:body use='literal'/>
   </output>
  </operation>
 </binding>
 <service name='PolicyPersonCovMaint'>
  <port name='IASLIBPort' binding='tns:IASLIBSoapBinding'>
   <soap:address location='http://etbprod:8080/EntireX-ETBPROD/xmlrt'/>
  </port>
 </service>
</definitions>
