wsdls/PolicyMaint.wsdl

<?xml version='1.0' encoding='utf-8'?>
<!-- Generated by EntireX Communicator Web Service Plug-in , Version 7.3.3.000 -->
<!-- WSDL from IDL generator, Version 7.3.3.000 on Dec 9, 2008 10:54:13 AM -->
<definitions name='IASLIB' targetNamespace='urn:com-softwareag-entirex-rpc:IASLIB' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:SOAP-ENC='http://schemas.xmlsoap.org/soap/encoding/' xmlns:tns='urn:com-softwareag-entirex-rpc:IASLIB'>
 <types>
  <xsd:schema targetNamespace='urn:com-softwareag-entirex-rpc:IASLIB'>
   <xsd:element name='ACPLYMW'>
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name='IN_PARM'>
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name='ACTION' type='xsd:string'/>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
      <xsd:element name='INOUT_PARM'>
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name='LOG_COUNTER' type='xsd:decimal'/>
         <xsd:element name='POLICY_ID' type='xsd:decimal'/>
         <xsd:element name='UNDERW_STATUS_CURRENT' type='xsd:string'/>
         <xsd:element name='USER_ID' type='xsd:string'/>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name='ACPLYMWResponse'>
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name='MSG_INFO'>
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name='RETURN_CODE' type='xsd:string'/>
         <xsd:element name='MESSAGE_NBR' type='xsd:decimal'/>
         <xsd:element name='MESSAGE_TEXT' type='xsd:string'/>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
      <xsd:element name='IN_PARM1'>
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name='ACTION1' type='xsd:string'/>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
      <xsd:element name='INOUT_PARM1'>
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name='LOG_COUNTER1' type='xsd:decimal'/>
         <xsd:element name='POLICY_ID1' type='xsd:decimal'/>
         <xsd:element name='UNDERW_STATUS_CURRENT1' type='xsd:string'/>
         <xsd:element name='USER_ID1' type='xsd:string'/>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
      <xsd:element name='OUT_PARM'>
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name='DELIVERY_REQ' type='xsd:string'/>
         <xsd:element name='KEY_INSURED' type='xsd:string'/>
         <xsd:element name='KEY_PRODUCT_ID' type='xsd:string'/>
         <xsd:element name='UNDERW_DESCRIPTION' type='xsd:string'/>
         <xsd:element name='UNDERWRITER' type='xsd:string'/>
         <xsd:element name='RIDER_IND' type='xsd:string'/>
         <xsd:element name='AMENDMENT_IND' type='xsd:string'/>
         <xsd:element name='NOTES_IND' type='xsd:string'/>
         <xsd:element name='DECISION_DATE' type='xsd:string'/>
         <xsd:element name='COMMENTS_IND' type='xsd:string'/>
         <xsd:element name='POST_ISSUE_COMMENT' type='xsd:string'/>
         <xsd:element name='NO_OF_RIDERS' type='xsd:decimal'/>
         <xsd:element name='POLICY_TRANS_TYPE' type='xsd:string'/>
         <xsd:element name='POLICY_TRANS_TYPE_COND' type='xsd:string'/>
         <xsd:element name='ISSUED_PLACED_FLAG' type='xsd:string'/>
         <xsd:element name='UNDERW_STATUS_CURRENT_FLAG' type='xsd:string'/>
         <xsd:element name='APPLICATION_FORM_ID' type='xsd:string'/>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
  </xsd:schema>
 </types>
 <message name='ACPLYMWSoapIn'>
  <part name='parameters' element='tns:ACPLYMW'/>
 </message>
 <message name='ACPLYMWSoapOut'>
  <part name='parameters' element='tns:ACPLYMWResponse'/>
 </message>
 <portType name='IASLIBPort'>
  <operation name='ACPLYMW'>
   <input message='tns:ACPLYMWSoapIn'/>
   <output message='tns:ACPLYMWSoapOut'/>
  </operation>
 </portType>
 <binding name='IASLIBSoapBinding' type='tns:IASLIBPort'>
  <soap:binding style='document' transport='http://schemas.xmlsoap.org/soap/http'/>
  <operation name='ACPLYMW'>
   <soap:operation soapAction='ACPLYMW'/>
   <input>
    <soap:body use='literal'/>
   </input>
   <output>
    <soap:body use='literal'/>
   </output>
  </operation>
 </binding>
 <service name='PolicyMaint'>
  <port name='IASLIBPort' binding='tns:IASLIBSoapBinding'>
   <soap:address location='http://etbprod:8080/EntireX-ETBPROD/xmlrt'/>
  </port>
 </service>
</definitions>
