wsdls/PolicyEvents.wsdl

<?xml version='1.0' encoding='utf-8'?>
<!-- Generated by EntireX Communicator Web Service Plug-in , Version 7.3.3.000 -->
<!-- WSDL from IDL generator, Version 7.3.3.000 on Aug 5, 2008 11:05:02 AM -->
<definitions name='IASLIB' targetNamespace='urn:com-softwareag-entirex-rpc:IASLIB' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:SOAP-ENC='http://schemas.xmlsoap.org/soap/encoding/' xmlns:tns='urn:com-softwareag-entirex-rpc:IASLIB'>
 <types>
  <xsd:schema targetNamespace='urn:com-softwareag-entirex-rpc:IASLIB'>
   <xsd:element name='IADIABW'>
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name='INOUT_PARM'>
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name='POLICY_ID' type='xsd:decimal'/>
         <xsd:element name='MORE_EVENTS' type='xsd:string'/>
         <xsd:element name='LAST_KEY' type='xsd:base64Binary'/>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name='IADIABWResponse'>
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name='MSG_INFO'>
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name='RETURN_CODE' type='xsd:string'/>
         <xsd:element name='MESSAGE_NBR' type='xsd:decimal'/>
         <xsd:element name='MESSAGE_TEXT' type='xsd:string'/>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
      <xsd:element name='INOUT_PARM1'>
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name='POLICY_ID1' type='xsd:decimal'/>
         <xsd:element name='MORE_EVENTS1' type='xsd:string'/>
         <xsd:element name='LAST_KEY1' type='xsd:base64Binary'/>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
      <xsd:element name='OUT_PARM'>
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name='OUT_ARRAYs'>
          <xsd:complexType>
           <xsd:sequence>
            <xsd:element name='OUT_ARRAY' minOccurs='1' maxOccurs='25'>
             <xsd:complexType>
              <xsd:sequence>
               <xsd:element name='EVENT_ID' type='xsd:decimal'/>
               <xsd:element name='STD_EVENT_ID' type='xsd:string'/>
               <xsd:element name='STD_EVENT_STATUS' type='xsd:string'/>
               <xsd:element name='EVENT_DESCRIPTION' type='xsd:string'/>
               <xsd:element name='DATE_CREATED' type='xsd:string'/>
               <xsd:element name='DATE_COMPLETED' type='xsd:string'/>
               <xsd:element name='EVENT_PERSON' type='xsd:string'/>
               <xsd:element name='USER_ID' type='xsd:string'/>
              </xsd:sequence>
             </xsd:complexType>
            </xsd:element>
           </xsd:sequence>
          </xsd:complexType>
         </xsd:element>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
  </xsd:schema>
 </types>
 <message name='IADIABWSoapIn'>
  <part name='parameters' element='tns:IADIABW'/>
 </message>
 <message name='IADIABWSoapOut'>
  <part name='parameters' element='tns:IADIABWResponse'/>
 </message>
 <portType name='IASLIBPort'>
  <operation name='IADIABW'>
   <input message='tns:IADIABWSoapIn'/>
   <output message='tns:IADIABWSoapOut'/>
  </operation>
 </portType>
 <binding name='IASLIBSoapBinding' type='tns:IASLIBPort'>
  <soap:binding style='document' transport='http://schemas.xmlsoap.org/soap/http'/>
  <operation name='IADIABW'>
   <soap:operation soapAction='IADIABW'/>
   <input>
    <soap:body use='literal'/>
   </input>
   <output>
    <soap:body use='literal'/>
   </output>
  </operation>
 </binding>
 <service name='PolicyEvents'>
  <port name='IASLIBPort' binding='tns:IASLIBSoapBinding'>
   <soap:address location='http://etbprod:8080/EntireX-ETBPROD/xmlrt'/>
  </port>
 </service>
</definitions>
