wsdls/PolicyPersonMaint2.wsdl

<?xml version='1.0' encoding='utf-8'?>
<!-- Generated by EntireX Communicator Web Service Plug-in , Version 7.3.3.000 -->
<!-- WSDL from IDL generator, Version 7.3.3.000 on Nov 10, 2008 1:48:59 PM -->
<definitions name='IASLIB' targetNamespace='urn:com-softwareag-entirex-rpc:IASLIB' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:SOAP-ENC='http://schemas.xmlsoap.org/soap/encoding/' xmlns:tns='urn:com-softwareag-entirex-rpc:IASLIB'>
 <types>
  <xsd:schema targetNamespace='urn:com-softwareag-entirex-rpc:IASLIB'>
   <xsd:element name='ACCPEMW1'>
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name='IN_PARM'>
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name='POLICY_ID' type='xsd:decimal'/>
         <xsd:element name='PERSON_ID' type='xsd:decimal'/>
         <xsd:element name='USER_ID' type='xsd:string'/>
         <xsd:element name='POLICY_PERSON_TYPE_CURRENT'>
          <xsd:complexType>
           <xsd:sequence>
            <xsd:element name='string' minOccurs='1' maxOccurs='5' type='xsd:string'/>
           </xsd:sequence>
          </xsd:complexType>
         </xsd:element>
         <xsd:element name='PERSON_STATUS_IND' type='xsd:string'/>
         <xsd:element name='LOG_COUNTER' type='xsd:decimal'/>
         <xsd:element name='ACTION' type='xsd:string'/>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name='ACCPEMW1Response'>
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name='MSG_INFO'>
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name='RETURN_CODE' type='xsd:string'/>
         <xsd:element name='MESSAGE_NBR' type='xsd:decimal'/>
         <xsd:element name='MESSAGE_TEXT' type='xsd:string'/>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
      <xsd:element name='IN_PARM1'>
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name='POLICY_ID1' type='xsd:decimal'/>
         <xsd:element name='PERSON_ID1' type='xsd:decimal'/>
         <xsd:element name='USER_ID1' type='xsd:string'/>
         <xsd:element name='POLICY_PERSON_TYPE_CURRENT1'>
          <xsd:complexType>
           <xsd:sequence>
            <xsd:element name='string' minOccurs='1' maxOccurs='5' type='xsd:string'/>
           </xsd:sequence>
          </xsd:complexType>
         </xsd:element>
         <xsd:element name='PERSON_STATUS_IND1' type='xsd:string'/>
         <xsd:element name='LOG_COUNTER1' type='xsd:decimal'/>
         <xsd:element name='ACTION1' type='xsd:string'/>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
  </xsd:schema>
 </types>
 <message name='ACCPEMW1SoapIn'>
  <part name='parameters' element='tns:ACCPEMW1'/>
 </message>
 <message name='ACCPEMW1SoapOut'>
  <part name='parameters' element='tns:ACCPEMW1Response'/>
 </message>
 <portType name='IASLIBPort'>
  <operation name='ACCPEMW1'>
   <input message='tns:ACCPEMW1SoapIn'/>
   <output message='tns:ACCPEMW1SoapOut'/>
  </operation>
 </portType>
 <binding name='IASLIBSoapBinding' type='tns:IASLIBPort'>
  <soap:binding style='document' transport='http://schemas.xmlsoap.org/soap/http'/>
  <operation name='ACCPEMW1'>
   <soap:operation soapAction='ACCPEMW1'/>
   <input>
    <soap:body use='literal'/>
   </input>
   <output>
    <soap:body use='literal'/>
   </output>
  </operation>
 </binding>
 <service name='PolicyPersonMaint2'>
  <port name='IASLIBPort' binding='tns:IASLIBSoapBinding'>
   <soap:address location='http://etbprod:8080/EntireX-ETBPROD/xmlrt'/>
  </port>
 </service>
</definitions>
