wsdls/RiderCodes.wsdl

<?xml version='1.0' encoding='utf-8'?>
<!-- Generated by EntireX Communicator Web Service Plug-in , Version 7.3.3.000 -->
<!-- WSDL from IDL generator, Version 7.3.3.000 on Aug 7, 2008 12:30:31 PM -->
<definitions name='ACSLIB' targetNamespace='urn:com-softwareag-entirex-rpc:ACSLIB' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:SOAP-ENC='http://schemas.xmlsoap.org/soap/encoding/' xmlns:tns='urn:com-softwareag-entirex-rpc:ACSLIB'>
 <types>
  <xsd:schema targetNamespace='urn:com-softwareag-entirex-rpc:ACSLIB'>
   <xsd:element name='ACRIDBW'>
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name='PDA_FIELDS'>
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name='PDA_STATE' type='xsd:string'/>
         <xsd:element name='PDA_PERSON_DATE' type='xsd:string'/>
         <xsd:element name='PDA_PERSON_STATUS' type='xsd:string'/>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
      <xsd:element name='INOUT_PARM'>
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name='START_KEY' type='xsd:string'/>
         <xsd:element name='SCROLL' type='xsd:string'/>
         <xsd:element name='BKEY'>
          <xsd:complexType>
           <xsd:sequence>
            <xsd:element name='string' minOccurs='1' maxOccurs='10' type='xsd:string'/>
           </xsd:sequence>
          </xsd:complexType>
         </xsd:element>
         <xsd:element name='FORWARDCOUNT' type='xsd:decimal'/>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name='ACRIDBWResponse'>
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name='MSG_INFO'>
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name='RETURN_CODE' type='xsd:string'/>
         <xsd:element name='MESSAGE_NBR' type='xsd:decimal'/>
         <xsd:element name='MESSAGE_TEXT' type='xsd:string'/>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
      <xsd:element name='INOUT_PARM1'>
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name='START_KEY1' type='xsd:string'/>
         <xsd:element name='SCROLL1' type='xsd:string'/>
         <xsd:element name='BKEY1'>
          <xsd:complexType>
           <xsd:sequence>
            <xsd:element name='string' minOccurs='1' maxOccurs='10' type='xsd:string'/>
           </xsd:sequence>
          </xsd:complexType>
         </xsd:element>
         <xsd:element name='FORWARDCOUNT1' type='xsd:decimal'/>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
      <xsd:element name='OUT_PARMSs'>
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name='OUT_PARMS' minOccurs='1' maxOccurs='25'>
          <xsd:complexType>
           <xsd:sequence>
            <xsd:element name='RIDER_CODE' type='xsd:string'/>
            <xsd:element name='DESCRIPTION' type='xsd:string'/>
            <xsd:element name='RIDER_TEXT'>
             <xsd:complexType>
              <xsd:sequence>
               <xsd:element name='string' minOccurs='1' maxOccurs='10' type='xsd:string'/>
              </xsd:sequence>
             </xsd:complexType>
            </xsd:element>
            <xsd:element name='EFF_START_DATE' type='xsd:decimal'/>
            <xsd:element name='EFF_END_DATE' type='xsd:decimal'/>
            <xsd:element name='STATE_IND' type='xsd:string'/>
            <xsd:element name='STATE_CODE' type='xsd:string'/>
            <xsd:element name='TEXT_REQUIRED' type='xsd:string'/>
           </xsd:sequence>
          </xsd:complexType>
         </xsd:element>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
  </xsd:schema>
 </types>
 <message name='ACRIDBWSoapIn'>
  <part name='parameters' element='tns:ACRIDBW'/>
 </message>
 <message name='ACRIDBWSoapOut'>
  <part name='parameters' element='tns:ACRIDBWResponse'/>
 </message>
 <portType name='ACSLIBPort'>
  <operation name='ACRIDBW'>
   <input message='tns:ACRIDBWSoapIn'/>
   <output message='tns:ACRIDBWSoapOut'/>
  </operation>
 </portType>
 <binding name='ACSLIBSoapBinding' type='tns:ACSLIBPort'>
  <soap:binding style='document' transport='http://schemas.xmlsoap.org/soap/http'/>
  <operation name='ACRIDBW'>
   <soap:operation soapAction='ACRIDBW'/>
   <input>
    <soap:body use='literal'/>
   </input>
   <output>
    <soap:body use='literal'/>
   </output>
  </operation>
 </binding>
 <service name='RiderCodes'>
  <port name='ACSLIBPort' binding='tns:ACSLIBSoapBinding'>
   <soap:address location='http://etbprod:8080/EntireX-ETBPROD/xmlrt'/>
  </port>
 </service>
</definitions>
