wsdls/RiderMaint.wsdl

<?xml version='1.0' encoding='utf-8'?>
<!-- Generated by EntireX Communicator Web Service Plug-in , Version 7.3.3.000 -->
<!-- WSDL from IDL generator, Version 7.3.3.000 on Nov 6, 2008 8:56:35 AM -->
<definitions name='IASLIB' targetNamespace='urn:com-softwareag-entirex-rpc:IASLIB' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:SOAP-ENC='http://schemas.xmlsoap.org/soap/encoding/' xmlns:tns='urn:com-softwareag-entirex-rpc:IASLIB'>
 <types>
  <xsd:schema targetNamespace='urn:com-softwareag-entirex-rpc:IASLIB'>
   <xsd:element name='ACPLPMW'>
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name='IN_PARM'>
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name='ACTION' type='xsd:string'/>
         <xsd:element name='USER_ID' type='xsd:string'/>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
      <xsd:element name='INOUT_PARM'>
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name='LOG_COUNTER' type='xsd:decimal'/>
         <xsd:element name='POLICY_ID' type='xsd:decimal'/>
         <xsd:element name='PERSON_ID' type='xsd:decimal'/>
         <xsd:element name='RIDER_INFOs'>
          <xsd:complexType>
           <xsd:sequence>
            <xsd:element name='RIDER_INFO' minOccurs='1' maxOccurs='5'>
             <xsd:complexType>
              <xsd:sequence>
               <xsd:element name='RIDER_CODE' type='xsd:string'/>
               <xsd:element name='RIDER_DESCRIPTION' type='xsd:string'/>
               <xsd:element name='RID_TIME_PERIOD' type='xsd:string'/>
               <xsd:element name='RIDER_START_DATE' type='xsd:string'/>
               <xsd:element name='RIDER_END_DATE' type='xsd:string'/>
               <xsd:element name='RIDER_TEXT'>
                <xsd:complexType>
                 <xsd:sequence>
                  <xsd:element name='string' minOccurs='1' maxOccurs='5' type='xsd:string'/>
                 </xsd:sequence>
                </xsd:complexType>
               </xsd:element>
              </xsd:sequence>
             </xsd:complexType>
            </xsd:element>
           </xsd:sequence>
          </xsd:complexType>
         </xsd:element>
         <xsd:element name='RIDER_FLAG' type='xsd:string'/>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name='ACPLPMWResponse'>
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name='MSG_INFO'>
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name='RETURN_CODE' type='xsd:string'/>
         <xsd:element name='MESSAGE_NBR' type='xsd:decimal'/>
         <xsd:element name='MESSAGE_TEXT' type='xsd:string'/>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
      <xsd:element name='INOUT_PARM1'>
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name='LOG_COUNTER1' type='xsd:decimal'/>
         <xsd:element name='POLICY_ID1' type='xsd:decimal'/>
         <xsd:element name='PERSON_ID1' type='xsd:decimal'/>
         <xsd:element name='RIDER_INFOs'>
          <xsd:complexType>
           <xsd:sequence>
            <xsd:element name='RIDER_INFO1' minOccurs='1' maxOccurs='5'>
             <xsd:complexType>
              <xsd:sequence>
               <xsd:element name='RIDER_CODE1' type='xsd:string'/>
               <xsd:element name='RIDER_DESCRIPTION1' type='xsd:string'/>
               <xsd:element name='RID_TIME_PERIOD1' type='xsd:string'/>
               <xsd:element name='RIDER_START_DATE1' type='xsd:string'/>
               <xsd:element name='RIDER_END_DATE1' type='xsd:string'/>
               <xsd:element name='RIDER_TEXT1'>
                <xsd:complexType>
                 <xsd:sequence>
                  <xsd:element name='string' minOccurs='1' maxOccurs='5' type='xsd:string'/>
                 </xsd:sequence>
                </xsd:complexType>
               </xsd:element>
              </xsd:sequence>
             </xsd:complexType>
            </xsd:element>
           </xsd:sequence>
          </xsd:complexType>
         </xsd:element>
         <xsd:element name='RIDER_FLAG1' type='xsd:string'/>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
      <xsd:element name='OUT_PARM'>
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name='INSURED_SEARCH_NAME' type='xsd:string'/>
         <xsd:element name='KEY_INSURED_SEARCH_NAME' type='xsd:string'/>
         <xsd:element name='PRODUCT_CODE' type='xsd:string'/>
         <xsd:element name='STATE_CODE' type='xsd:string'/>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
  </xsd:schema>
 </types>
 <message name='ACPLPMWSoapIn'>
  <part name='parameters' element='tns:ACPLPMW'/>
 </message>
 <message name='ACPLPMWSoapOut'>
  <part name='parameters' element='tns:ACPLPMWResponse'/>
 </message>
 <portType name='IASLIBPort'>
  <operation name='ACPLPMW'>
   <input message='tns:ACPLPMWSoapIn'/>
   <output message='tns:ACPLPMWSoapOut'/>
  </operation>
 </portType>
 <binding name='IASLIBSoapBinding' type='tns:IASLIBPort'>
  <soap:binding style='document' transport='http://schemas.xmlsoap.org/soap/http'/>
  <operation name='ACPLPMW'>
   <soap:operation soapAction='ACPLPMW'/>
   <input>
    <soap:body use='literal'/>
   </input>
   <output>
    <soap:body use='literal'/>
   </output>
  </operation>
 </binding>
 <service name='RiderMaint'>
  <port name='IASLIBPort' binding='tns:IASLIBSoapBinding'>
   <soap:address location='http://etbprod:8080/EntireX-ETBPROD/xmlrt'/>
  </port>
 </service>
</definitions>
