wsdls/SEventCodes.wsdl

<?xml version='1.0' encoding='utf-8'?>
<!-- Generated by EntireX Communicator Web Service Plug-in , Version 7.3.3.000 -->
<!-- WSDL from IDL generator, Version 7.3.3.000 on Aug 5, 2008 11:58:07 AM -->
<definitions name='IASLIB' targetNamespace='urn:com-softwareag-entirex-rpc:IASLIB' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:SOAP-ENC='http://schemas.xmlsoap.org/soap/encoding/' xmlns:tns='urn:com-softwareag-entirex-rpc:IASLIB'>
 <types>
  <xsd:schema targetNamespace='urn:com-softwareag-entirex-rpc:IASLIB'>
   <xsd:element name='MUEVNBW'>
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name='MORE'>
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name='MORE_CODES' type='xsd:string'/>
         <xsd:element name='LAST_KEY' type='xsd:string'/>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name='MUEVNBWResponse'>
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name='MSG_INFO'>
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name='RETURN_CODE' type='xsd:string'/>
         <xsd:element name='MESSAGE_NBR' type='xsd:decimal'/>
         <xsd:element name='MESSAGE_TEXT' type='xsd:string'/>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
      <xsd:element name='MORE1'>
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name='MORE_CODES1' type='xsd:string'/>
         <xsd:element name='LAST_KEY1' type='xsd:string'/>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
      <xsd:element name='OUT_PARMSs'>
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name='OUT_PARMS' minOccurs='1' maxOccurs='100'>
          <xsd:complexType>
           <xsd:sequence>
            <xsd:element name='STD_EVENT_ID' type='xsd:string'/>
            <xsd:element name='DESCRIPTION' type='xsd:string'/>
            <xsd:element name='MEMO_ID' type='xsd:string'/>
            <xsd:element name='MAINT_SUBPROGRAM_NAME' type='xsd:string'/>
            <xsd:element name='EVENT_STATUS' type='xsd:string'/>
            <xsd:element name='EQUIF_REQUEST_TYPE' type='xsd:string'/>
            <xsd:element name='EVENT_FOLLOW_UP_DAYS' type='xsd:decimal'/>
            <xsd:element name='NEW_REQUEST_IND' type='xsd:string'/>
            <xsd:element name='RIDER_DEPENDENCY' type='xsd:string'/>
           </xsd:sequence>
          </xsd:complexType>
         </xsd:element>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
  </xsd:schema>
 </types>
 <message name='MUEVNBWSoapIn'>
  <part name='parameters' element='tns:MUEVNBW'/>
 </message>
 <message name='MUEVNBWSoapOut'>
  <part name='parameters' element='tns:MUEVNBWResponse'/>
 </message>
 <portType name='IASLIBPort'>
  <operation name='MUEVNBW'>
   <input message='tns:MUEVNBWSoapIn'/>
   <output message='tns:MUEVNBWSoapOut'/>
  </operation>
 </portType>
 <binding name='IASLIBSoapBinding' type='tns:IASLIBPort'>
  <soap:binding style='document' transport='http://schemas.xmlsoap.org/soap/http'/>
  <operation name='MUEVNBW'>
   <soap:operation soapAction='MUEVNBW'/>
   <input>
    <soap:body use='literal'/>
   </input>
   <output>
    <soap:body use='literal'/>
   </output>
  </operation>
 </binding>
 <service name='SEventCodes'>
  <port name='IASLIBPort' binding='tns:IASLIBSoapBinding'>
   <soap:address location='http://etbprod:8080/EntireX-ETBPROD/xmlrt'/>
  </port>
 </service>
</definitions>
