wsdls/UndStatusCodes.wsdl

<?xml version='1.0' encoding='utf-8'?>
<!-- Generated by EntireX Communicator Web Service Plug-in , Version 7.3.3.000 -->
<!-- WSDL from IDL generator, Version 7.3.3.000 on Aug 5, 2008 12:04:46 PM -->
<definitions name='ACSLIB' targetNamespace='urn:com-softwareag-entirex-rpc:ACSLIB' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:SOAP-ENC='http://schemas.xmlsoap.org/soap/encoding/' xmlns:tns='urn:com-softwareag-entirex-rpc:ACSLIB'>
 <types>
  <xsd:schema targetNamespace='urn:com-softwareag-entirex-rpc:ACSLIB'>
   <xsd:element name='ACUSTBW'>
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name='MORE'>
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name='MORE_CODES' type='xsd:string'/>
         <xsd:element name='LAST_KEY' type='xsd:string'/>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name='ACUSTBWResponse'>
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name='MSG_INFO'>
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name='RETURN_CODE' type='xsd:string'/>
         <xsd:element name='MESSAGE_NBR' type='xsd:decimal'/>
         <xsd:element name='MESSAGE_TEXT' type='xsd:string'/>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
      <xsd:element name='MORE1'>
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name='MORE_CODES1' type='xsd:string'/>
         <xsd:element name='LAST_KEY1' type='xsd:string'/>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
      <xsd:element name='OUT_PARMSs'>
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name='OUT_PARMS' minOccurs='1' maxOccurs='100'>
          <xsd:complexType>
           <xsd:sequence>
            <xsd:element name='UNDERW_STATUS' type='xsd:string'/>
            <xsd:element name='UNDERW_COMPLETE_IND' type='xsd:string'/>
            <xsd:element name='UNDERW_CANCELLED_IND' type='xsd:string'/>
            <xsd:element name='UNDR_UNDERW_STATUS' type='xsd:string'/>
            <xsd:element name='DESCRIPTION' type='xsd:string'/>
           </xsd:sequence>
          </xsd:complexType>
         </xsd:element>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
  </xsd:schema>
 </types>
 <message name='ACUSTBWSoapIn'>
  <part name='parameters' element='tns:ACUSTBW'/>
 </message>
 <message name='ACUSTBWSoapOut'>
  <part name='parameters' element='tns:ACUSTBWResponse'/>
 </message>
 <portType name='ACSLIBPort'>
  <operation name='ACUSTBW'>
   <input message='tns:ACUSTBWSoapIn'/>
   <output message='tns:ACUSTBWSoapOut'/>
  </operation>
 </portType>
 <binding name='ACSLIBSoapBinding' type='tns:ACSLIBPort'>
  <soap:binding style='document' transport='http://schemas.xmlsoap.org/soap/http'/>
  <operation name='ACUSTBW'>
   <soap:operation soapAction='ACUSTBW'/>
   <input>
    <soap:body use='literal'/>
   </input>
   <output>
    <soap:body use='literal'/>
   </output>
  </operation>
 </binding>
 <service name='UndStatusCodes'>
  <port name='ACSLIBPort' binding='tns:ACSLIBSoapBinding'>
   <soap:address location='http://etbprod:8080/EntireX-ETBPROD/xmlrt'/>
  </port>
 </service>
</definitions>
